.vertical-divider {
  width: 2px;
  height: 28px; /* adjust size if needed */
  background-color: #ccc; /* or your theme color */
}

.pro-table {
    border: 1px solid #d2d6e1;
    border-radius: 8px;
    font-size: 13px;
    overflow: hidden;
    color: #2d2f33;
}

.pro-table thead th {
    background: #f4f6fb;
    border-bottom: 2px solid #c7ccdb !important;
    font-weight: 600;
    padding: 10px 12px;
    color: #3a3d42;
    white-space: nowrap;
}

.pro-table tbody tr td {
    padding: 9px 12px;
    border-top: 1px solid #e4e6ee;
    background: #ffffff;
}

.pro-table tbody tr:hover td {
    background: #f8f9fc;
}

.pro-table tbody tr td:last-child,
.pro-table thead th:last-child {
    font-weight: 600;
}

.pro-table td, .pro-table th {
    vertical-align: middle !important;
}

 .po-tabs {
    display: flex;
    border-bottom: 2px solid #e5e7eb;
    gap: 0px;
    margin-bottom: 1.5rem;
  }

  .po-tab {
    background: transparent;
    border: none;
    padding: 10px 22px;
    font-size: .85rem;
    font-weight: 600;
    color: #6b7280;
    cursor: pointer;
    position: relative;
    transition: all .25s ease-in-out;
    border-radius: 6px 6px 0 0;
  }

  .po-tab:hover {
    background: #f3f4f6;
    color: #111827;
  }

  .po-tab.active {
    background: #ffffff;
    color: #1543b7;
    font-weight: 700;
    border-bottom: 3px solid #2c189b;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    outline: 2px solid #102da1;
    outline-offset: -2px;
    border-radius: 6px 6px 0 0;
  }
