<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row">
        <div class="col-md-12" style="margin-top: -0.25rem;">
          <h4 class="heading">Purchase Request</h4>
        </div>
      </div>

      <!-- Action Pane -->
      <div class="card cstm-ui-card">
        <div>
          <div class="d-flex justify-content-between align-items-center">

            <div class="position-relative">
              <button class="btn btn-lg mr-1" type="button" (click)="homePage()">
                <i class="ft-arrow-left"></i>
              </button>

              <span class="vl"></span>

              <button type="button" class="btn btn-sm cstm-ui-table-btn" ngbTooltip="Create new Purchase Request"
                (click)="openEmpDetails()">
                <i class="ft-plus"></i><label class="ml-1 mt-1">Create</label>
              </button>
              <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="onUpdate()">
                <i class="ft-edit"></i><label class="ml-1 mt-1">Update</label>
              </button>

              <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="openDeleteModal()"
                [disabled]="isDeleteButtonDisabled">
                <i class="ft-trash"></i><label class="ml-1 mt-1">Delete</label>
              </button>

              <button type="button" class="btn btn-sm cstm-ui-table-btn" [disabled]="isEditButtonDisabled"
                (click)="onView()">
                <i class="ft-eye"></i><label class="ml-1 mt-1">View</label>
              </button>
              <!-- <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="loadPurchaseRequests()"><label
                class="ml-1 mt-1">All</label></button>

            <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="loadFilteredRequests('New')"><label
                class="ml-1 mt-1">New</label></button>

            <button type="button" class="btn btn-sm cstm-ui-table-btn"
              (click)="loadFilteredRequests('InProcess')"><label class="ml-1 mt-1">InProcess</label></button>

            <button type="button" class="btn btn-sm cstm-ui-table-btn"
              (click)="loadFilteredRequests('Completed')"><label class="ml-1 mt-1">Completed</label></button> -->

              <!-- <button type="reset" class="btn btn-sm" [disabled]="isOpenButtonDisabled">
              <i class="ft-check"></i><label class="ml-1 mt-1" for="">Approval</label>
            </button> -->

            </div>

            <div class="d-flex align-items-center">

              <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="toggleFilterBar()">
                <i class="ft-sliders"></i><label class="ml-1 mt-1">Filter</label>
              </button>

              <div class="dropdown" ngbDropdown>
                <button type="button" class="btn dropdown-toggle more-btn" ngbDropdownToggle> <i
                    class="ft-more-vertical"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button type="button" class="btn btn-sm cstm-ui-table-btn dropdown-item " (click)="openAblModal()">
                    <i class="ft-settings"></i><label class="ml-1 mt-1">Account Budget Lookup</label>
                  </button>
                  <button type="button" class="btn btn-sm cstm-ui-table-btn dropdown-item"
                    (click)="openExceptionPolicyModal()">
                    <i class="ft-alert-circle"></i><label class="ml-1 mt-1">Exception Policy</label>
                  </button>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <!-- Data Table -->
      <div *ngIf="showFilterBar" class="filter-bar">
        <div class="d-flex align-items-center justify-content-between pl-3 pr-1 py-2 filter-wrapper">
          <div class="filter-search">
            <i class="ft-filter search-icon"></i>
            <input type="text" placeholder="Search by keywords" class="form-control form-control-sm search-input"
              [(ngModel)]="searchText">
          </div>

          <div class="d-flex filter-btns-div">
            <div class="dropdown filter-dropdown" ngbDropdown [ngbTooltip]="statusTouched ? 'Status' : null">
              <button class="btn btn-sm filter-btn dropdown-toggle" ngbDropdownToggle>
                <span class="filter-label">{{ !statusTouched ? "Status" : selectedStatusLabel }} </span>
                <i class="ft-chevron-down"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="selectStatus(null)">All</button>
                <button class="dropdown-item" (click)="selectStatus('New')">New</button>
                <button class="dropdown-item" (click)="selectStatus('InProcess')">InProcess</button>
                <button class="dropdown-item" (click)="selectStatus('Completed')">Completed</button>
              </div>
            </div>

            <button class="btn px-1 btn-sm" (click)="showFilterBar = false">✕</button>
          </div>

        </div>
      </div>
      <ngx-datatable class="bootstrap core-bootstrap" [rows]="purchaseRequestData" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="pageSize"
        [count]="totalItems" [externalPaging]="true" [offset]="currentPage - 1" (page)="onPageChange($event)"
        [loadingIndicator]="loading" [selected]="chkBoxSelected" [selectionType]="SelectionType.checkbox"
        (sort)="onSort($event)" (select)="customChkboxOnSelect($event)">

        <!-- Checkbox Column -->
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false">
          <ng-template ngx-datatable-header-template>
            <div class="custom-control cstm-checkbox-form">
              <input type="checkbox" class="cstm-checkbox-form" [checked]="isAllSelected"
                (change)="toggleSelectAll($event)" />
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="custom-control cstm-checkbox-form custom-checkbox ">
              <input type="checkbox" class="cstm-checkbox-form" [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)" />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- Sr. No -->
        <ngx-datatable-column name="Sr. No." [width]="50" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>{{ rowIndex + 1 }}</span>
          </ng-template>
        </ngx-datatable-column>

        <!-- Request Info -->
        <ngx-datatable-column name="Requisition No." prop="requisitionNo"></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="requestStatus"></ngx-datatable-column>
        <ngx-datatable-column name="Date" prop="submittedDate">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.submittedDate | date:'yyyy-MM-dd' }}
          </ng-template>
        </ngx-datatable-column> <ngx-datatable-column name="Owner" prop="createdBy"></ngx-datatable-column>
        <ngx-datatable-column name="Department" prop="department"></ngx-datatable-column>

        <ngx-datatable-column name="Action" [width]="100" prop="action" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-sm btn-primary" [ngbPopover]="actionToolbar"
              popoverClass="action-popover" placement="left" container="body">
              <i class="ft-settings"></i>
            </button>
            <ng-template #actionToolbar>
              <div class="d-flex justify-content-around">

                <button class="btn btn-light btn-sm m-1" ngbTooltip="Approval History"
                  (click)="openApprovalHistoryModal(row)">
                  <i class="ft-list"></i>
                </button>

                <!-- If PR is completed, show active button -->
                <button *ngIf="row.requestStatus === 'Completed'; else waitingTemplate" class="btn btn-light btn-sm m-1"
                  ngbTooltip="Generate RFQ" (click)="generateRfq(row)">
                  <i class="ft-file-text"></i>
                </button>

                <!-- Template for PRs not completed -->
                <ng-template #waitingTemplate>
                  <button class="btn btn-light btn-sm m-1" disabled
                    ngbTooltip="RFQ can only be generated when PR is Completed.">
                    <i class="ft-file-text" style="opacity: 0.5;"></i>
                  </button>
                </ng-template>

                <!-- Select Final Vendor Button -->
                <button *ngIf="row.requestStatus === 'Completed'; else selectVendorDisabled"
                  class="btn btn-light btn-sm m-1" ngbTooltip="Select Final Vendor" (click)="selectFinalVendor(row)">
                  <i class="ft-user-check"></i>
                </button>

                <ng-template #selectVendorDisabled>
                  <button class="btn btn-light btn-sm m-1" disabled
                    ngbTooltip="Final Vendor can only be selected when PR is Completed.">
                    <i class="ft-user-check" style="opacity: 0.5;"></i>
                  </button>
                </ng-template>

                <button *ngIf="row.requestStatus === 'Completed'; else poWaitingTemplate"
                  class="btn btn-light btn-sm m-1" ngbTooltip="Create Purchase Order" (click)="openCreatePoModal(row)">
                  <i class="ft-shopping-cart"></i>
                </button>

                <ng-template #poWaitingTemplate>
                  <button class="btn btn-light btn-sm m-1" disabled
                    ngbTooltip="PO can only be created when PR is Completed.">
                    <i class="ft-shopping-cart" style="opacity: 0.5;"></i>
                  </button>
                </ng-template>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <!-- Expandable Row for Clones -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="p-2">
              <h6>Items for Request #{{ row.requestId }}</h6>
              <table class="table table-sm table-bordered mb-0">
                <thead>
                  <tr>
                    <th>Item Description</th>
                    <th>Vendor</th>
                    <th>Account</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let clone of row.clones">
                    <td>{{ clone.itemDescription }}</td>
                    <td>{{ clone.vendor }}</td>
                    <td>{{ clone.account }}</td>
                    <td>{{ clone.amount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

      </ngx-datatable>
    </div>
  </div>
</section>

<!-- Delete Modal -->
<!-- <ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the selected records?</p>
    <ul>
      <li *ngFor="let id of idsToDelete">{{ id }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
  </div>
</ng-template> -->