<section>
    <div class="row">
        <div class="col-12">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style=" margin-top: -0.25rem;">
                    <!-- <h4>Announcements</h4> -->
                    <h4 class="heading">Purchase Request</h4>
                </div>
                <!-- <div class="col-md-6">
                </div> -->


            </div>

            <!-- Action Pane -->
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-lg mr-1" type="button" (click)="homePage()"><i
                                class="ft-arrow-left"></i></button>
                        <span class="vl"></span>
                        <button type="reset" ngbTooltip="{{ 'Create new announcement' }}" class="btn btn-sm"
                            (click)="openEmpDetails()">
                            <i class="ft-plus"></i><label class="ml-1 mt-1" for="">Create</label>
                        </button>
                        <button type="reset" class="btn btn-sm">
                            <i class="ft-edit"></i><label class="ml-1 mt-1" for="">Update</label>
                        </button>
                        <button type="reset" class="btn btn-sm">
                            <i class="ft-trash"></i><label class="ml-1 mt-1" for="">Delete</label>
                        </button>
                        <button type="reset" class="btn btn-sm">
                            <i class="ft-check"></i><label class="ml-1 mt-1" for="">Approval</label>
                        </button>
                    </div>
                    <div class="col-md-6 text-right" style="margin-top: 0.3rem;">
                        <button type="reset" class="btn btn-sm">
                            <i class="ft-printer"></i><label class="ml-1 mt-1" for="">Print</label>
                        </button>
                        <button type="reset" class="btn btn-sm">
                            <i class="ft-paperclip"></i><label class="ml-1 mt-1" for="">Attachment</label>
                        </button>
                        <button type="reset" class="btn btn-sm" (click)="openAblModal()">
                            <i class="ft-settings"></i><label class="ml-1 mt-1" for="">Account Budget Lookup</label>
                        </button>
                        <button type="reset" class="btn btn-sm" (click)="openExceptionPolicyModal()">
                            <i class="ft-alert-circle"></i><label class="ml-1 mt-1" for="" >Exception Policy</label>
                        </button>
                    </div>

                </div>

            </div>
            <!-- Content -->
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="purchaseRequestData"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [columns]="columns"
            rowHeight="50" [limit]="15" [scrollbarH]="true" [loadingIndicator]="loading"
            [selected]="chkBoxSelected" [swapColumns]="false" [selectionType]="SelectionType.checkbox"
            (sort)="onSort($event)" (select)="customChkboxOnSelect($event)">
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
                [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-header-template>
                    <div class="custom-control">
                        <input type="checkbox" [checked]="isAllSelected"
                            (change)="toggleSelectAll($event)" />
                    </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">

                    <div class="custom-control custom-checkbox ">
                        <input type="checkbox" [checked]="isSelected"
                            (change)="onCheckboxChangeFn($event)" />
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sr. No." [width]="50" [resizeable]="false">
                <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <span>{{rowIndex + 1}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Requisition No." prop="requisitionNo" [width]="100">

            </ngx-datatable-column>

            <ngx-datatable-column name="Status" prop="status" [width]="100">

            </ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="date" [width]="50">
            </ngx-datatable-column>

            <ngx-datatable-column name="Owner" prop="owner" [width]="100">

            </ngx-datatable-column>
            <ngx-datatable-column name="Department" prop="department" [width]="50">
            </ngx-datatable-column>

            <ngx-datatable-column name="Title" prop="title" [width]="180">
            </ngx-datatable-column>

            <ngx-datatable-column name="Vendors" [width]="50" prop="vendors" [sortable]="false">

            </ngx-datatable-column>
            <ngx-datatable-column name="Accounts" [width]="100" prop="accounts" [sortable]="false">
            </ngx-datatable-column>
            <ngx-datatable-column name="Total Amount" [width]="100" prop="totalAmount"
                [sortable]="false">
            </ngx-datatable-column>
        </ngx-datatable>
        </div>
    </div>
</section>
<!-- delete modal  -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the selected records?</p>
        <!-- You can display the list of selected IDs here if needed -->
        <ul>
            <li *ngFor="let id of idsToDelete">{{ id }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
</ng-template>

<ng-template #viewFileModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <!-- <h4 class="modal-title">View Document</h4> -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="fileType === 'image'">
            <img [src]="filePath" alt="Document" class="img-fluid">
        </div>
        <div *ngIf="fileType === 'pdf'">
            <embed [src]="filePath" type="application/pdf" width="100%" height="600px">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Close</button>
    </div>
</ng-template>