<div class="modal-header">
  <h4 class="modal-title text-white">
    Inventory Transfer: {{ requisitionNo }}
  </h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- BODY: this will scroll vertically when content is tall or zoomed -->
<div class="modal-body" [formGroup]="headerForm">

  <!-- Header card -->
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="form-group mb-2">
            <label>PR Number</label>
            <input type="text" readonly class="form-control custom-input" formControlName="prNumber" />
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="form-group mb-2">
            <label>Requisition No</label>
            <input type="text" readonly class="form-control custom-input" formControlName="requisitionNumber" />
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="form-group mb-2">
            <label>Status</label>
            <input type="text" readonly class="form-control custom-input" formControlName="status" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Items grid -->
  <div class="card item-card">
    <div class="card-header py-1 d-flex justify-content-between align-items-center">
      <div>
        <h5 class="mb-0">Line Items</h5>
      </div>
      <div>
        <!-- <button class="btn btn-outline-secondary btn-sm mr-1" type="button">
          Add
        </button> -->
      </div>
    </div>

    <div class="card-body p-0">
      <div class="items-table-wrapper">
        <ngx-datatable class="bootstrap core-bootstrap" [rows]="items" [columnMode]="'force'" [headerHeight]="45"
          [footerHeight]="0" [rowHeight]="'auto'" [limit]="5">

          <!-- Sr No -->
          <ngx-datatable-column name="Sr. No." prop="srNo" [width]="40">
          </ngx-datatable-column>

          <!-- Type -->
          <ngx-datatable-column name="Type" prop="type" [width]="70">
               <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="cell-ellipsis" [ngbTooltip]="row.type" container="body">
                  {{ row.type }}
                </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Item -->
          <ngx-datatable-column name="Item" prop="item" [width]="150">
                 <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="cell-ellipsis" [ngbTooltip]="row.item" container="body">
                  {{ row.item }}
                </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Description -->
          <ngx-datatable-column name="Description" prop="description">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="cell-ellipsis" [ngbTooltip]="row.description" container="body">
                  {{ row.description }}
                </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Total Quantity -->
          <ngx-datatable-column name="Quantity" prop="orderQuantity" [width]="70">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.orderQuantity }}
            </ng-template>
          </ngx-datatable-column>

          <!-- Amount -->
          <ngx-datatable-column name="Amount" prop="amount" [width]="70">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.amount | number }}
            </ng-template>
          </ngx-datatable-column>

          <!-- Remarks -->
          <ngx-datatable-column name="Remarks" prop="remarks" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="cell-ellipsis" [ngbTooltip]="row.remarks" container="body">
                  {{ row.remarks }}
                </span>
            </ng-template>
          </ngx-datatable-column>

   
          <ngx-datatable-column name="From Company" [width]="170">
            <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
          
              <div class="dropdown filter-dropdown w-100" [container]="'body'" ngbDropdown>
                <button
                  class="btn btn-sm filter-btn pr-select dropdown-toggle d-flex align-items-center justify-content-between w-100 pr-cell-dropdown"
                  ngbDropdownToggle
                  [ngbTooltip]="getCompanyName(itemForms.at(i).get('procurementCompanyId')?.value) || 'From Company'"
                  container="body">

                  <span class="filter-label ellipsis-label">
                    {{ getCompanyName(itemForms.at(i).get('procurementCompanyId')?.value) || 'From Company' }}
                  </span>
                        <i class="ft-chevron-down ml-1"></i>
                </button>
          
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item border-bottom" (click)="setCompany(i, null)">
                  <i class="fa fa-times mr-1"></i>  Clear
                  </button>
          
                  <button class="dropdown-item" *ngFor="let c of procCompanies" (click)="setCompany(i, c)">
                    {{ c.description }}
                  </button>
                </div>
              </div>
          
            </ng-template>
          </ngx-datatable-column>


            <ngx-datatable-column name="From Address" [width]="140">
              <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>

                <div class="dropdown filter-dropdown w-100"
                    ngbDropdown
                    [container]="'body'">

                  <button
                    class="btn btn-sm filter-btn pr-select dropdown-toggle d-flex align-items-center justify-content-between w-100 pr-cell-dropdown"
                    ngbDropdownToggle
                    [disabled]="isAddressDisabled(i)"
                    [ngClass]="{ 'disabled-dropdown': isAddressDisabled(i) }"
                    [ngbTooltip]="isAddressDisabled(i) ? 'Address' : (getAddressDescription(i) || 'Address')"
                    container="body">

                    <span class="filter-label ellipsis-label">
                      {{ isAddressDisabled(i)
                          ? 'Address'
                          : (getAddressDescription(i) || 'Address') }}
                    </span>

                    <i class="ft-chevron-down ml-1"></i>
                  </button>

                  <!-- Only show menu when enabled -->
                  <div class="dropdown-menu" ngbDropdownMenu *ngIf="!isAddressDisabled(i)">

                    <button *ngIf="itemForms.at(i).get('addresses')?.value?.length === 0" class="dropdown-item text-muted">
                        No Matching Address
                    </button>

                    <button
                      class="dropdown-item"
                      *ngFor="let a of itemForms.at(i).get('addresses')?.value"
                      (click)="setAddress(i, a)">
                      {{ a.description }}
                    </button>
                  </div>
                </div>

              </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="Attachments" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a matTooltip="Attachment" class="row-action-attachment" (click)="openNewEntityModal(row)"
                [ngClass]="{'disabled': !row.hasAttachment}">
                <i style="font-size: 1.5rem;" class="ft-paperclip mr-1"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <div *ngIf="loading" class="text-center mt-3 mb-2">
          <span class="spinner-border spinner-border-sm"></span> Loading...
        </div>
      </div>
    </div>
  </div>

</div>

<!-- FOOTER: absolute at bottom, always visible -->
<div class="modal-footer cstm-footer">
  <button class="btn btn-secondary" (click)="closeDialog()">
    Close
  </button>
  <button class="btn btn-primary" (click)="onSubmit()">
    Submit Requisition
  </button>
</div>