<div class="modal-header">
  Attachment
  <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()">
  </button>
</div>
<div class="modal-body">
  <div class="col-12">
    <h5 *ngIf="!viewMode" class="heading-upload">Upload Files</h5>
  </div>
  <!-- Your form fields and content -->
  <form [formGroup]="AttachmentForm">
    <div class="row gx-2">
      <!-- File Upload Button -->
      <div *ngIf="!viewMode" class="col-12 form-group mt-3">
        <!-- <label for="fileUpload">Choose files</label> -->
        <input type="file" (change)="onFileSelected($event)" class="form-control1"
          accept=".pdf, .doc, .docx, .xls, .csv" multiple>
      </div>

      <!-- Textarea for additional information -->
      <!-- <div class="col-12 form-group mt-3">
        <label for="additionalInfo">Remarks</label>
        <textarea id="additionalInfo" formControlName="remarks" class="form-control" rows="3"
          placeholder="Enter any additional information here..."></textarea>
      </div> -->
      <div class="col-12 form-group mt-3" *ngIf="uploadedFiles.length > 0">
        <ngx-datatable class="bootstrap core-bootstrap" [rows]="uploadedFiles" [columnMode]="'standard'"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5">

          <ngx-datatable-column name="Sr. No.">
            <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <span>{{rowIndex + 1}}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="contentType"  [width]="420">
          </ngx-datatable-column>
          <ngx-datatable-column name="File" prop="fileName">
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Remarks" [width]="150" prop="remarks">
          </ngx-datatable-column> -->
          <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">

              <a matTooltip="Download File" class="row-action-edit" style="margin-right: 10px;"
                (click)="downloadLocalFile(uploadedFiles[rowIndex])">
                <i style="font-size: 1.5rem;" class="ft-download"></i>
              </a>

              <a *ngIf="!viewMode" matTooltip="Upload File" class="row-action-delete" (click)="deleteRow(rowIndex)"
                [ngClass]="{'disabled':viewMode || uploadedFiles[rowIndex]?.isNew}">
                <i style="font-size: 1.5rem;" class="ft-trash trash-icon"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

      </div>
      <div class="col-12 mt-3 text-center" *ngIf="uploadedFiles.length === 0 && viewMode">
  <p class="text-muted">No attachments available</p>
</div>
    </div>

    <!-- Submit Button -->
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary" (click)="uploadFiles()" *ngIf="!viewMode">Upload</button>
    </div>
  </form>
</div>