<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row">
        <div class="col-md-12" style="margin-top: -0.25rem;">
          <h4 class="heading">Entities</h4>
        </div>
      </div>

      <!-- Action Pane -->
      <div class="card  cstm-ui-card">
        <div class="row">
          <div class="col-md-6">
            <!-- Back -->
            <button class="btn btn-lg mr-1" type="button" (click)="homePage()">
              <i class="ft-arrow-left"></i>
            </button>
            <span class="vl"></span>

            <!-- Create -->
            <button type="button" ngbTooltip="Create new Procurement Company" class="btn btn-sm  cstm-ui-table-btn"
              (click)="openEmpDetails()"
              appPermission [appPermFormId]="FORM_IDS.ENTITIES"
                [appPermDisable]="'write'">
              <i class="ft-plus"></i>
              <label class="ml-1 mt-1">Create</label>
            </button>

            <!-- Update -->
            <button type="button" class="btn btn-sm  cstm-ui-table-btn" [disabled]="isEditButtonDisabled" (click)="editSelectedRow()"
            appPermission [appPermFormId]="FORM_IDS.ENTITIES"
                [appPermDisable]="'write'">
              <i class="ft-edit"></i>
              <label class="ml-1 mt-1">Edit</label>
            </button>

            <!-- Delete -->
            <button type="button" class="btn btn-sm  cstm-ui-table-btn" [disabled]="isDeleteButtonDisabled"
              (click)="openDeleteModal()" appPermission [appPermFormId]="FORM_IDS.ENTITIES" [appPermDisable]="'delete'">
              <i class="ft-trash"></i>
              <label class="ml-1 mt-1">Delete</label>
            </button>
          </div>
        </div>
      </div>

      <!-- Content -->
      <ngx-datatable autoResize class="bootstrap core-bootstrap" [rows]="tenderingData" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="SelectionType.checkbox" [selected]="chkBoxSelected"
        (select)="customChkboxOnSelect($event)">
        <!-- Checkbox Column -->
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
          <ng-template ngx-datatable-header-template>
              <div class="custom-control cstm-checkbox-form">
            <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="custom-control cstm-checkbox-form custom-checkbox ">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- ID -->

        <!-- Name -->
        <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>

        <!-- Status -->
        <!-- Status Column -->
        <ngx-datatable-column name="Status">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span [ngClass]="getStatusClass(row)">
              {{ getStatus(row) }}
            </span>
          </ng-template>
        </ngx-datatable-column>


        <!-- Logo -->
        <ngx-datatable-column name="Logo" prop="logo">
          <ng-template ngx-datatable-cell-template let-row="row">
            <img *ngIf="row.logo" [src]="row.logo" alt="Logo" width="36" height="36" />
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>