<section>
    <div class="row">
        <div class="col-12">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style="margin-top: -0.25rem;">
                    <!-- <h4>Announcements</h4> -->
                    <h4 class="heading">Request for Quotation</h4>
                </div>
            </div>

            <!-- Action Pane -->
            <div class="card cstm-ui-card">
                <div>
                    <div class="d-flex justify-content-between align-items-center cstm-action-bar">
                        <div class="position-relative">

                            <button class="btn btn-lg mr-1 " type="button" (click)="homePage()">
                                <i class="ft-arrow-left"></i></button>
                            <span class="vl"></span>

                            <!-- <button type="button" class="btn btn-sm cstm-ui-table-btn" ngbTooltip="Create new RFQ"
                                (click)="openEmpDetails()">
                                <i class="ft-plus"></i><label class="ml-1 mt-1">Create</label>
                            </button>
                            <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="onUpdate()">
                                <i class="ft-edit"></i><label class="ml-1 mt-1">Update</label>
                            </button> -->

                            <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="openDeleteModal()"
                            appPermission [appPermFormId]="FORM_IDS.REQUEST_FOR_QUOTATION"
                            [appPermDisable]="'delete'"
                                [disabled]="isDeleteButtonDisabled">
                                <i class="ft-trash"></i><label class="ml-1 mt-1 btn-label">Delete</label>
                            </button>

                            <!-- <button type="button" class="btn btn-sm cstm-ui-table-btn" [disabled]="isEditButtonDisabled"
                                (click)="onView()">
                                <i class="ft-eye"></i><label class="ml-1 mt-1">View</label>
                            </button> -->
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-sm cstm-ui-table-btn mr-2" (click)="toggleFilterBar()">
                                <i class="ft-sliders"></i><label class="ml-1 mt-1  btn-label">Filter</label>
                            </button>
                        </div>
                        <!-- <button type="reset" class="btn btn-sm" [disabled]="isOpenButtonDisabled">
                            <i class="ft-check"></i><label class="ml-1 mt-1" for="">Approval</label>
                        </button> -->
                    </div>
                </div>
            </div>

            <div *ngIf="showFilterBar" class="filter-bar">
                <div class="d-flex align-items-center justify-content-between pl-3 pr-1 py-2 filter-wrapper">
                    <div class="filter-search">
                        <i class="ft-filter search-icon"></i>
                        <input [ngModel]="searchText" (ngModelChange)="onSearchChange($event)" type="text"
                            placeholder="Search by rfq no #" class="form-control form-control-sm search-input">
                    </div>

                    <div class="d-flex filter-btns-div">
                        <div class="dropdown filter-dropdown" ngbDropdown
                            [ngbTooltip]="statusTouched ? 'Status' : null">
                            <button class="btn btn-sm filter-btn dropdown-toggle" ngbDropdownToggle>
                                <span class="filter-label">{{ !statusTouched ? "Status" : selectedStatusLabel }} </span>
                                <i class="ft-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button class="dropdown-item" (click)="onStatusChange('All')">
                                    All
                                </button>
                                <button class="dropdown-item" *ngFor="let s of status" (click)="onStatusChange(s)">
                                    {{ s.description }}
                                </button>
                            </div>
                        </div>

                        <button class="btn px-1 btn-sm" (click)="showFilterBar = false">✕</button>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <ngx-datatable autoResize class="bootstrap core-bootstrap" [rows]="rfqData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [columns]="columns" [rowHeight]="'auto'"
                [limit]="query.pageSize" [count]="totalItems" [externalPaging]="true" [offset]="query.currentPage - 1"
                (page)="onPageChange($event)" [scrollbarH]="true" [loadingIndicator]="loading"
                [selected]="chkBoxSelected" [swapColumns]="false" [selectionType]="SelectionType.checkbox"
                (sort)="onSort($event)" (select)="customChkboxOnSelect($event)">
                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                    <ng-template ngx-datatable-header-template>
                        <div class="custom-control cstm-checkbox-form">
                            <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
                        </div>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">

                        <div class="custom-control cstm-checkbox-form custom-checkbox">
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <!-- Sr. No -->
                <ngx-datatable-column name="Sr. No." [width]="70" [canAutoResize]="false" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                    </ng-template>
                </ngx-datatable-column>

            <ngx-datatable-column name="RFQ No." prop="rfqNo">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <a href="javascript:void(0)" (click)="openRfq(row)"
                    appPermission [appPermFormId]="FORM_IDS.REQUEST_FOR_QUOTATION"
                    [appPermDisable]="'write'">
                        {{ row.rfqNo }}
                    </a>
                </ng-template>
            </ngx-datatable-column>

                <ngx-datatable-column name="Status" prop="requestStatus">
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Date" prop="date" [width]="50">
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Date" prop="date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.date | date:'yyyy-MM-dd' }}
                    </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Owner" prop="owner">
                </ngx-datatable-column> -->

                <ngx-datatable-column *ngIf="entity === 'All'" name="Entity" prop="entityName">
                </ngx-datatable-column>
                <ngx-datatable-column name="Comments" prop="comment">
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Amount" prop="amount" [sortable]="false">
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Action" [width]="100" prop="action" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-sm btn-primary" [ngbPopover]="actionToolbar" popoverClass="action-popover"
                            placement="bottom" container="body">
                            <i class="ft-settings"></i>
                        </button>
                
                        <ng-template #actionToolbar>
                            <div class="d-flex justify-content-around flex-column">
                                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Quotation Box"
                                    (click)="openQuotationBoxModal(row)">
                                    <span class="popover-icon"><i class="ft-mail"></i></span>
                                    Quotation Box
                                </button>
                
                                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Vendor Comparison"
                                    (click)="openVendorComparisonModal(row)">
                                    <span class="popover-icon"><i class="ft-bar-chart-2"></i></span>
                                    Vendor Comparison
                                </button>
                
                                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Vendors" (click)="openVendorsModal(row)">
                                    <span class="popover-icon"><i class="ft-user-check"></i></span>
                                    Vendors
                                </button>
                
                                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Approval History"
                                    (click)="openApprovalHistoryModal(row)">
                                    <span class="popover-icon"><i class="ft-list"></i></span>
                                    Approval History
                                </button>
                
                                <button *ngIf="row.requestStatus === 'Completed'; else poWaitingTemplate"
                                    class="btn popover-btn btn-sm m-1" ngbTooltip="Create Purchase Order" (click)="createPO(row)">
                                    <span class="popover-icon"> <i class="ft-shopping-cart"></i> </span>
                                    Create Purchase Order
                                </button>
                            </div>
                        </ng-template>
                    </ng-template>
                </ngx-datatable-column> -->

            </ngx-datatable>
        </div>
    </div>
</section>

<!-- Delete Modal -->
<!-- <ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the selected records?</p>
        <ul>
            <li *ngFor="let id of idsToDelete">{{ id }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
</ng-template> -->