
::ng-deep .ngx-datatable{
    .sortable .sort-btn:before {
        // font-family: data-table;
        // content: "c";
        display: none !important;
    }
    .sortable .sort-btn.datatable-icon-down:before {
        // content: "f";
        display: none !important;
  
    }
    .sortable .sort-btn.datatable-icon-up:before {
        // content: "e";
        display: none !important;
    }
  }
  .vl {
      border-left: 1.4px solid #cccccc;
      height: 36px;
      position: absolute;
      margin-left: -3px;
      top: 3px;
      bottom: 3px;
    }
    .heading{
      color: #1E89B8;
      margin-top: 1rem;
      margin-bottom: -0.5rem;
      font-weight: 700;
    }
  
    
  .ngx-datatable ::ng-deep .datatable-header-inner{
    background-color: #1E89B8 !important;
    // padding: 0.5rem;
  // border-radius: 10px;
  }
  .ngx-datatable ::ng-deep .datatable-header-inner .datatable-header-cell-label,
  .ngx-datatable ::ng-deep .datatable-header-inner .sort-btn{
    color: white !important;
  
  }
  
  .ngx-datatable ::ng-deep .datatable-body .datatable-body-row.datatable-row-even {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  // .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  //   padding: 0.75rem;
  //   vertical-align: middle;
  //   border-top: 1px solid #1E89B8;
  // }
  
  .ngx-datatable ::ng-deep .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: 0.75rem;
    vertical-align:baseline;
    
  }
//   .ngx-datatable ::ng-deep .datatable-footer .selected-count .page-count {
//     flex: 1 1 40%;
//     background: #eaeaeb !important;
//     color: #1E89B8 !important;
// }
// .ngx-datatable.bootstrap .datatable-footer {
//     background: #424242 !important;
//     color: #1E89B8;
//     margin-top: -1px;
// }
.counter{
  top: -10px;
  right: -16px;
}
.badge {
  display: inline-block;
  padding: 0.4rem 0.5rem !important;
  font-size: 85%;
  font-weight: 400 !important;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-height-modal .modal-body {
  height: 400px !important; /* or any height you want */
  overflow-y: auto !important; /* optional: to make it scroll if content overflows */
}

::ng-deep .action-popover {
  padding: 0.5rem;
  border-radius: 8px;
  min-width: auto;
}

::ng-deep .action-popover .btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
