<!-- 
<div class="row mt-2 cstm-row" (resized)="onResized($event)">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">Purchase Request</div>
          <div class="stat-card__value">{{ prCounts?.totalRequests }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Request-icon.png" alt="icon" />
        </div>
      </div>
    </div>
  </div>

   <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">New</div>
          <div class="stat-card__value">{{ prCounts?.newRequests }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Inbox-icon.png" alt="icon" />
        </div>
      </div>
    </div>
  </div>

   <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">In Process</div>
          <div class="stat-card__value">{{ prCounts?.inProcessRequests }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Inbox-icon.png" alt="icon" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">


     <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">Completed</div>
          <div class="stat-card__value">{{ prCounts?.completedRequests }}</div>
        </div>
        <div class="stat-card__icon">
         <img src="/assets/img/icons/completed-item.png" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">

     <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">RFQ</div>
          <div class="stat-card__value">{{ rfqCounts?.totalQuotations }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Request-icon.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">

     <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">In Process</div>
          <div class="stat-card__value">{{ rfqCounts?.inProcessQuotations }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Inbox-icon.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">

     <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">Completed</div>
          <div class="stat-card__value">{{ rfqCounts?.completedQuotations }}</div>
        </div>
        <div class="stat-card__icon">
         <img src="/assets/img/icons/completed-item.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">

     <div class="stat-card">
      <div class="stat-card__body">
        <div class="stat-card__text">
          <div class="stat-card__title">Rejected</div>
          <div class="stat-card__value">{{ rfqCounts?.rejectedQuotations }}</div>
        </div>
        <div class="stat-card__icon">
          <img src="/assets/img/icons/Inbox-icon.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="chart-card mt-3">
      <div>
        <h4 class="chart-title" [ngClass]="{'rtl': isArabic}">Spend By Supplier</h4>
      </div>
    
        <div class="card-body">
     
          <div id="line-area" class="lineArea">
              <x-chartist
                class="height-500"
                [data]="lineChart.data"
                [type]="lineChart.type"
                [options]="lineChart.options"
                [events]="lineChart.events">
              </x-chartist>

          </div>
        </div>
     
    </div>
  </div>
</div>

<div hidden class="row match-height">
  <div class="col-xl-4 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Statistics</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p class="font-medium-2 text-center my-2">Last 6 Months Sales</p>
          <div id="Stack-bar-chart" class="Stackbarchart mb-2">
            <x-chartist class="height-300" [data]="Stackbarchart.data" [type]="Stackbarchart.type"
              [options]="Stackbarchart.options" [responsiveOptions]="Stackbarchart.responsiveOptions"
              [events]="Stackbarchart.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card shopping-cart">
      <div class="card-header pb-2">
        <h4 class="card-title mb-1">Shopping Cart</h4>
      </div>
      <div class="card-content">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table text-center m-0">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Status</th>
                  <th>Amount</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img class="height-50" src="assets/img/elements/01.png" alt="Generic placeholder image" /></td>
                  <td>Espresso</td>
                  <td>1</td>
                  <td>
                    <span class="badge badge-pill bg-light-primary cursor-pointer">Active</span>
                  </td>
                  <td>$19.94</td>
                  <td>
                    <i class="ft-trash-2"></i>
                  </td>
                </tr>
                <tr>
                  <td><img class="height-50" src="assets/img/elements/15.png" alt="Generic placeholder image" /></td>
                  <td>iPhone</td>
                  <td>2</td>
                  <td>
                    <span class="badge badge-pill bg-light-danger cursor-pointer">Disabled</span>
                  </td>
                  <td>$99.00</td>
                  <td>
                    <i class="ft-trash-2"></i>
                  </td>
                </tr>
                <tr>
                  <td><img class="height-50" src="assets/img/elements/11.png" alt="Generic placeholder image" /></td>
                  <td>iMac</td>
                  <td>1</td>
                  <td>
                    <span class="badge badge-pill bg-light-info cursor-pointer">Paused</span>
                  </td>
                  <td>$299.00</td>
                  <td>
                    <i class="ft-trash-2"></i>
                  </td>
                </tr>
                <tr>
                  <td><img class="height-50" src="assets/img/elements/14.png" alt="Generic placeholder image" /></td>
                  <td>iWatch</td>
                  <td>2</td>
                  <td>
                    <span class="badge badge-pill bg-light-success cursor-pointer">Active</span>
                  </td>
                  <td>$24.51</td>
                  <td>
                    <i class="ft-trash-2"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div hidden class="row match-height">
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Visit & Sales Statistics</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3"><i class="fa fa-circle success font-small-2 mr-1"></i> Sales</span>
            <span class="text-uppercase"><i class="fa fa-circle info font-small-2 mr-1"></i> Visits</span>
          </div>
          <div id="line-area2" class="lineArea2">
            <x-chartist class="height-400" [data]="lineArea2.data" [type]="lineArea2.type" [options]="lineArea2.options"
              [responsiveOptions]="lineArea2.responsiveOptions" [events]="lineArea2.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-12">
    <div class="card gradient-purple-bliss">
      <div class="card-content">
        <div class="card-body">
          <h4 class="card-title white">Statistics</h4>
          <div class="p-2 text-center">
            <a class="white font-medium-1">Month</a>
            <a class="btn round bg-light-info mx-3 px-3">Week</a>
            <a class="white font-medium-1">Day</a>
          </div>
          <div class="my-3 text-center white">
            <div class="font-large-2 d-block mb-1">
              <span>$78.89</span>
              <i class="ft-arrow-up font-large-2"></i>
            </div>
            <span class="font-medium-1">Week2 +15.44</span>
          </div>
        </div>
        <div id="lineChart" class="lineChart lineChartShadow">
          <x-chartist class="height-250" [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options"
            [responsiveOptions]="lineChart.responsiveOptions" [events]="lineChart.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>

<div hidden class="row match-height">
  <div class="col-xl-4 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Statistics</h4>
      </div>
      <div class="card-content">

        <p class="font-medium-2 text-center mb-0 mt-2">Hobbies</p>
        <div id="bar-chart" class="BarChartShadow BarChart">
          <x-chartist class="height-250" [data]="BarChart.data" [type]="BarChart.type" [options]="BarChart.options"
            [responsiveOptions]="BarChart.responsiveOptions" [events]="BarChart.events">
          </x-chartist>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col text-center">
              <span class="gradient-starfall d-block rounded-circle mx-auto mb-2"
                style="width:10px; height:10px;"></span>
              <span class="font-medium-4 d-block mb-2">48</span>
              <span class="font-small-3">Sport</span>
            </div>
            <div class="col text-center">
              <span class="gradient-mint d-block rounded-circle mx-auto mb-2" style="width:10px; height:10px;"></span>
              <span class="font-medium-4 d-block mb-2">9</span>
              <span class="font-small-3">Music</span>
            </div>
            <div class="col text-center">
              <span class="gradient-purple-bliss d-block rounded-circle mx-auto mb-2"
                style="width:10px; height:10px;"></span>
              <span class="font-medium-4 d-block mb-2">26</span>
              <span class="font-small-3">Travel</span>
            </div>
            <div class="col text-center">
              <span class="gradient-ibiza-sunset d-block rounded-circle mx-auto mb-2"
                style="width:10px; height:10px;"></span>
              <span class="font-medium-4 d-block mb-2">17</span>
              <span class="font-small-3">News</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">User List</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="media pt-0 pb-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-12.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Jessica Rice</h4>
              <p class="text-muted font-small-3 m-0">UX Designer</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox1" checked="">
                <label for="dash-checkbox1"></label>
              </div>
            </div>
          </div>
          <div class="media py-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-11.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Jacob Rios</h4>
              <p class="text-muted font-small-3 m-0">HTML Developer</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox2">
                <label for="dash-checkbox2"></label>
              </div>
            </div>
          </div>
          <div class="media py-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-3.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Russell Delgado</h4>
              <p class="text-muted font-small-3 m-0">Database Designer</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox3">
                <label for="dash-checkbox3"></label>
              </div>
            </div>
          </div>
          <div class="media py-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-22.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Sara McDonald</h4>
              <p class="text-muted font-small-3 m-0">Team Leader</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox4" checked="">
                <label for="dash-checkbox4"></label>
              </div>
            </div>
          </div>
          <div class="media py-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-18.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Janet Lucas</h4>
              <p class="text-muted font-small-3 m-0">Project Manger</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox5">
                <label for="dash-checkbox5"></label>
              </div>
            </div>
          </div>
          <div class="media py-2">
            <img class="mr-3 avatar" src="assets/img/portrait/small/avatar-s-21.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">Mark Carter</h4>
              <p class="text-muted font-small-3 m-0">HTML Developer</p>
            </div>
            <div class="mt-1">
              <div class="checkbox">
                <input type="checkbox" id="dash-checkbox6" checked>
                <label for="dash-checkbox6"></label>
              </div>
            </div>
          </div>
          <div class="text-center mt-2">
            <button type="button" class="btn bg-light-primary">Add New</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Project Stats</h4>
      </div>
      <div class="card-content">

        <p class="font-medium-2 text-center mb-0 mt-2">Project Tasks</p>
        <div id="donut-dashboard-chart" class="donut">
          <x-chartist class="height-250" [data]="DonutChart.data" [type]="DonutChart.type"
            [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions"
            [events]="DonutChart.events">
          </x-chartist>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <span class="mb-1 text-muted d-block">23% - Started</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 23%;" aria-valuenow="23"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">28% - Done</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 28%;" aria-valuenow="28"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">35% - Remaining</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;" aria-valuenow="35"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">14% - In Progress</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 14%;" aria-valuenow="14"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="dashboard-wrapper">

  <!-- Top header -->
  <div class="dashboard-header">
    <div>
      <h2 class="dashboard-title">Dashboard</h2>
    </div>

    <!-- <div class="dashboard-period-switch">
      <button class="period-btn period-btn--active">Month</button>
      <button class="period-btn">Quarter</button>
      <button class="period-btn">Year</button>
    </div> -->
  </div>

  <!-- Main 2-column grid -->
  <div class="dashboard-grid">
    <!-- LEFT COLUMN -->
    <div class="dashboard-main">

      <!-- Top metrics: PR / RFQ / PO -->
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-1 top-metrics-row">
        <div class="col count-card">
          <div class="stat-card stat-card--primary" (click)="goToPurchaseRequest()">
             <div class="stat-card__label"> <span>Purchase Requests</span> <span class="arrow-div"><i class="ft ft-arrow-up-right"></i></span></div>
            <div class="stat-card__body">
              <div class="stat-card__text">
                <div class="stat-card__value">
                  {{ prCounts?.totalRequests || 0 }}
                </div>

               
              </div>

              <div class="stat-card__icon">
                <img src="/assets/img/icons/pr-icon.svg" alt="PR" />
              </div>
            </div>
             <div class="stat-card__chips">
                  <span class="metric-chip">
                    New: <strong class="ml-1">{{ prCounts?.newRequests || 0 }}</strong>
                  </span>
                  <span class="metric-chip metric-chip--muted">
                    In Process: <strong class="ml-1">{{ prCounts?.inProcessRequests || 0 }}</strong>
                  </span>
                </div>
          </div>
          
          
        </div>

        <div class="col count-card">
          <div class="stat-card stat-card--indigo" (click)="goToRfq()">
             <div class="stat-card__label"><span>RFQs </span> <span class="arrow-div"><i class="ft ft-arrow-up-right"></i></span></div>
            <div class="stat-card__body">
              <div class="stat-card__text">
               
                <div class="stat-card__value">
                  {{ rfqCounts?.totalQuotations || 0 }}
                </div>

             
              </div>

              <div class="stat-card__icon">
                <img src="/assets/img/icons/rfq-icon.svg" alt="RFQ" />
              </div>
            </div>
               <div class="stat-card__chips">
                  <span class="metric-chip">
                    In Process: <strong class="ml-1">{{ rfqCounts?.inProcessQuotations || 0 }}</strong>
                  </span>
                  <span class="metric-chip metric-chip--danger">
                    Rejected: <strong class="ml-1">{{ rfqCounts?.rejectedQuotations || 0 }}</strong>
                  </span>
                </div>
          </div>
        </div>

        <div class="col count-card">
          <div class="stat-card stat-card--emerald" (click)="goToPurchaseOrder()">
               <div class="stat-card__label"><span>Purchase Orders</span> <span class="arrow-div"><i class="ft ft-arrow-up-right"></i></span></div>
            <div class="stat-card__body">
              <div class="stat-card__text">
             
                <div class="stat-card__value">
                  {{ poCounts?.totalPurchaseOrders || 0 }}
                </div>

            
              </div>

              <div class="stat-card__icon">
                <img src="/assets/img/icons/po-icon.svg" alt="PO" />
              </div>
            </div>
                <div class="stat-card__chips">
                  <span class="metric-chip">
                    Awarded: <strong class="ml-1">{{ poCounts?.awardedPurchaseOrders || 0 }}</strong>
                  </span>
                  <span class="metric-chip metric-chip--success">
                    Delivered: <strong class="ml-1">{{ poCounts?.deliveredPurchaseOrders || 0 }}</strong>
                  </span>
                </div>
          </div>
        </div>
        <div class="col count-card">
          <div class="stat-card stat-card--emerald" (click)="goToCompany()">
            <div class="stat-card__label"><span>Companies</span> <span class="arrow-div"><i class="ft ft-arrow-up-right"></i></span></div>
            <div class="stat-card__body">
              <div class="stat-card__text">
                
                <div class="stat-card__value">
                  {{ vendorCompaniesCounts?.totalVendorCompanies || 0 }}
                </div>

               
              </div>

              <div class="stat-card__icon">
                <img src="/assets/img/icons/company-icon.svg" alt="PO" />
              </div>
            </div>
             <div class="stat-card__chips">
                  <span class="metric-chip">
                    Onboarded: <strong class="ml-1">{{ vendorCompaniesCounts?.onboardedVendorCompanies || 0 }}</strong>
                  </span>
                  
                </div>
          </div>
        </div>

            <div class="col count-card">
          <div class="stat-card stat-card--emerald" (click)="goToEntity()">
          <div class="stat-card__label"> <span>Entities</span> <span class="arrow-div"><i class="ft ft-arrow-up-right"></i></span></div>
            <div class="stat-card__body">
              <div class="stat-card__text">
      
                <div class="stat-card__value">
                  {{ entitiesCounts?.totalEntities || 0 }}
                </div>
                
                
              </div>

              <div class="stat-card__icon">
                <img src="/assets/img/icons/entity-icon.svg" alt="PO" />
              </div>
            </div>
                <div class="stat-card__chips">
                  <span class="metric-chip">
                    Active: <strong class="ml-1">{{ entitiesCounts?.activeEntities || 0 }}</strong>
                  </span>
                
                </div>
          </div>
        </div>


        
      </div>

      <!-- Bidding chart + recent vendors -->
      <div class="row g-3 align-items-stretch mt-2">
        <div class="col-lg-8 col-12">
          <div class="panel-card h-100">
            <div class="panel-card__header">
              <div>
                    <h3 class="panel-card__title">RFQ Pipeline</h3>
                    <p class="panel-card__subtitle">Total RFQs vs Quoted vs Selected</p>
              </div>
              <div class="segmented-toggle">
                <button class="segmented-toggle__btn" [ngClass]="{ 'segmented-toggle__btn--active': activeRange === 'month' }"
                  (click)="changeRange('month')">
                  Month
                </button>
                <button class="segmented-toggle__btn" [ngClass]="{ 'segmented-toggle__btn--active': activeRange === 'quarter' }"
                  (click)="changeRange('quarter')">
                  Quarter
                </button>
                
                <button class="segmented-toggle__btn" [ngClass]="{ 'segmented-toggle__btn--active': activeRange === 'year' }"
                  (click)="changeRange('year')">
                  Year
                </button>
              </div>
            </div>

            <div class="panel-card__body">
            <div id="line-area" class="lineArea">
              <apx-chart *ngIf="isRfqChartReady" class="apx-chart" [series]="spendChartOptions.series" [chart]="spendChartOptions.chart"
                [xaxis]="spendChartOptions.xaxis" [yaxis]="spendChartOptions.yaxis" [stroke]="spendChartOptions.stroke"
                [dataLabels]="spendChartOptions.dataLabels" [fill]="spendChartOptions.fill" [grid]="spendChartOptions.grid"
                [tooltip]="spendChartOptions.tooltip" [theme]="spendChartOptions.theme" [legend]="spendChartOptions.legend">
              </apx-chart>
            </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="panel-card h-100">
            <div class="panel-card__header panel-card__header--tight">
              <h3 class="panel-card__title">Recent Top Vendors</h3>
            </div>

            <div class="panel-card__body panel-card__body--flush">
              <div class="vendors-list mt-1">
                <div class="vendor-row" *ngFor="let v of recentVendors">
                  <div class="vendor-row__initial">
                    {{ v.name | slice:0:1 }}
                  </div>
                  <div class="vendor-row__meta">
                    <div class="vendor-row__name">{{ v.name }}</div>
                    <div class="vendor-row__sub">
                      <i class="ft ft-map-pin me-2"></i> {{ v.location }} &bull; {{ v.timesBought }} buys
                    </div>
                  </div>
                  <div class="vendor-row__badge">
                    {{ v.successRate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Upcoming auctions + monthly expenses -->
      <div class="row g-3 mt-2">
        <div class="col-lg-4 col-12">
          <div class="panel-card cardHeight h-100">
            <div class="panel-card__header">
              <h3 class="panel-card__title">Upcoming Auctions</h3>
              <a class="panel-card__link" routerLink="/procurement/auctions">
                View all
              </a>
            </div>

            <div class="panel-card__body panel-card__body--flush panel-card__body--scroll">
              <table class="table upcoming-table mb-0">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Date</th>
                    <th>Budget</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of upcomingAuctions">
                    <td>{{ a.product }}</td>
                    <td>{{ a.quantity }}</td>
                    <td>{{ a.date }}</td>
                    <td>{{ a.budget }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="panel-card cardHeight h-100 monthly-expenses-card">
            <div class="panel-card__header">
              <div>
                <h3 class="panel-card__title">Monthly Spend</h3>
                <p class="panel-card__subtitle">
                  {{ monthlySpendLabel }}
                </p>
              </div>
            </div>

            <div class="panel-card__body monthly-expenses-body">
              <div class="monthly-expenses-chart">
            <apx-chart class="apx-chart" [series]="spendDonutOptions.series" [chart]="spendDonutOptions.chart"
              [labels]="spendDonutOptions.labels" [legend]="spendDonutOptions.legend" [dataLabels]="spendDonutOptions.dataLabels"
              [responsive]="spendDonutOptions.responsive" [colors]="spendDonutOptions.colors" [tooltip]="spendDonutOptions.tooltip" [theme]="spendDonutOptions.theme">
            </apx-chart>

                <div class="monthly-expenses-center">
                  <div class="monthly-expenses-amount">
                    {{ monthlySpendAmount }}
                  </div>
                  <div class="monthly-expenses-caption">
                    Total this month
                  </div>
                </div>
              </div>

              <ul class="monthly-expenses-legend">
                <li *ngFor="let e of monthlyExpenses">
                  <span class="legend-dot" [ngStyle]="{ 'background-color': e.color }"></span>
                  <span class="legend-label">{{ e.label }}</span>
                  <span class="legend-value">{{ e.value }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div  class="col-lg-4 col-12">
          <div class="panel-card cardHeight h-100">
  <div class="panel-card__header">
    <div>
      <h3 class="panel-card__title">Delivery Performance</h3>
    </div>
  </div>

  <div class="panel-card__body">
    <apx-chart class="apx-chart" [series]="vendorDeliveryOptions.series" [chart]="vendorDeliveryOptions.chart"
      [plotOptions]="vendorDeliveryOptions.plotOptions" [xaxis]="vendorDeliveryOptions.xaxis"
      [yaxis]="vendorDeliveryOptions.yaxis" [dataLabels]="vendorDeliveryOptions.dataLabels"
      [stroke]="vendorDeliveryOptions.stroke" [fill]="vendorDeliveryOptions.fill" [tooltip]="vendorDeliveryOptions.tooltip"
      [legend]="vendorDeliveryOptions.legend" [grid]="vendorDeliveryOptions.grid" [colors]="vendorDeliveryOptions.colors"
      [theme]="vendorDeliveryOptions.theme">
    </apx-chart>
    </div>
    </div>


           <!-- <div class="panel-card progress-card">
          <div class="panel-card__header panel-card__header--tight">
            <h3 class="panel-card__title">Progress</h3>
          </div>
        
          <div class="panel-card__body progress-card__body">
            <div class="progress-row" *ngFor="let p of progressReport">
              <div class="progress-row__month">{{ p.month }}</div>
              <div class="progress-row__bar">
                <div class="progress-row__fill" [style.width.%]="p.value"></div>
              </div>
              <div class="progress-row__value">{{ p.value }}%</div>
            </div>
          </div>
        </div> -->
        </div>
       

      </div>

    </div>

    <!-- RIGHT COLUMN -->
    <!-- <aside class="dashboard-side">

      <div class="mini-stat mini-stat--blue">
        <div class="mini-stat__label">Received Quotations</div>
        <div class="mini-stat__value">{{ rfqCounts?.totalQuotations || 0 }}</div>
        <div class="mini-stat__sub">
          Top vendor: <span>ABC Pvt Ltd</span>
        </div>
      </div>

      <div class="mini-stat mini-stat--amber">
        <div class="mini-stat__label">Viewed Enquiries</div>
        <div class="mini-stat__value">
          {{ rfqCounts?.inProcessQuotations || 0 }}
        </div>
        <div class="mini-stat__sub">
          RFQs currently in progress
        </div>
      </div>

      <div class="mini-stat mini-stat--emerald">
        <div class="mini-stat__label">Quoted by You</div>
        <div class="mini-stat__value">
          {{ rfqCounts?.completedQuotations || 0 }}
        </div>
        <div class="mini-stat__sub">
          Successfully submitted this month
        </div>
      </div>

 

     

    </aside> -->
  </div>
</div>
