// .ngx-datatable ::ng-deep .datatable-footer .selected-count .page-count {
//     flex: 1 1 40%;
//     background: #eaeaeb !important;
//     color: #1E89B8 !important;
// }
// .ngx-datatable.bootstrap .datatable-footer {
//     background: unset !important;
//     color: #1E89B8;
//     margin-top: -1px;
// }

.modal-body{
    padding: 0 !important;
}
.spacer{
    flex-grow: 1;
}
.ngx-datatable.bootstrap ::ng-deep .datatable-footer {
    background: #eaeaeb !important;
    color: #1E89B8 !important;
    margin-top: -1px;
}
.ngx-datatable.bootstrap ::ng-deep .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background: #eaeaeb !important;
    color: #1E89B8 !important;
    font-weight: bold;
}
.ngx-datatable.bootstrap ::ng-deep .datatable-footer .datatable-pager a {
    height: 22px;
    min-width: 24px;
    line-height: 22px;
    padding: 0;
    border-radius: 3px;
    margin: 0 3px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    vertical-align: bottom;
    color: #6c757d !important;
}


////new

.vendor-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.vendor-left {
  flex: 1 1 auto;
  min-width: 0;  
}
.vendor-right {
  white-space: nowrap; 
  flex-shrink: 0;     
}
.vendor-list
 {
    max-height: 420px;
    overflow: auto;
    border-radius: 10px !important;
    margin-bottom: 8px !important;
 }
.vendor-item {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #f1f3f5;
    padding: .65rem .75rem;
    cursor: pointer;
    margin-bottom: 8px;
}
.vendor-item:hover { background: #f6f9ff; }
.vendor-item.active { background: #e6f0ff; box-shadow: inset 3px 0 0 #3b82f6; }

.vendor-title{
    font-weight: 500 !important;
}
.amount-text{
    font-weight: 500 !important;
}

.vendor-owner{
    color: #8b8b8b !important;
}


.gap-footer{
    gap: 8px !important;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.vendor-comp-card{
    margin: 0px;
    padding: 0px 0px 6px 0px !important;
}