<section>
    <div class="row">
        <div class="col-12">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style="margin-top: -0.25rem;">
                    <!-- <h4>Announcements</h4> -->
                    <h4 class="heading">Global Configurations</h4>
                </div>
            </div>

            <!-- Action Pane -->
            <div class="card cstm-ui-card">
                <div class="row">
                    <div class="col-md-12 row">
                        <div class="col-md-5">
                            <button class="btn btn-lg mr-1 " type="button" (click)="homePage()">
                                <i class="ft-arrow-left"></i></button>
                            <span class="vl"></span>
                            <button type="button" class="btn btn-sm cstm-ui-table-btn"
                                ngbTooltip="Create new Global Configuration" (click)="openEmpDetails()">
                                <i class="ft-plus"></i><label class="ml-1 mt-1">Create</label>
                            </button>
                            <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="onUpdate()">
                                <i class="ft-edit"></i><label class="ml-1 mt-1">Update</label>
                            </button>

                            <!-- <button type="button" class="btn btn-sm cstm-ui-table-btn" (click)="openDeleteModal()"
                                [disabled]="isDeleteButtonDisabled">
                                <i class="ft-trash"></i><label class="ml-1 mt-1">Delete</label>
                            </button> -->

                            <!-- <button type="button" class="btn btn-sm cstm-ui-table-btn" [disabled]="isEditButtonDisabled"
                                (click)="onView()">
                                <i class="ft-eye"></i><label class="ml-1 mt-1">View</label>
                            </button> -->
                        </div>

                        <!-- <button type="reset" class="btn btn-sm" [disabled]="isOpenButtonDisabled">
                            <i class="ft-check"></i><label class="ml-1 mt-1" for="">Approval</label>
                        </button> -->
                    </div>
                </div>
            </div>

            <!-- Content -->
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="globalConfigData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [columns]="columns" [rowHeight]="'auto'" [limit]="pageSize"
                [count]="totalItems" [externalPaging]="true" [offset]="currentPage - 1" (page)="onPageChange($event)"
                [scrollbarH]="true" [loadingIndicator]="loading" [selected]="chkBoxSelected" [swapColumns]="false"
                [selectionType]="SelectionType.checkbox" (sort)="onSort($event)"
                (select)="customChkboxOnSelect($event)">
                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                    <ng-template ngx-datatable-header-template>
                        <div class="custom-control cstm-checkbox-form">
                            <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
                        </div>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">

                        <div class="custom-control cstm-checkbox-form custom-checkbox">
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <!-- Sr. No -->
                <ngx-datatable-column name="Sr. No." [width]="50" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" prop="name">
                </ngx-datatable-column>

                <ngx-datatable-column name="Value" prop="value">
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Date" prop="date" [width]="50">
                </ngx-datatable-column> -->

                <!-- <ngx-datatable-column name="Date" prop="date" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.date | date:'yyyy-MM-dd' }}
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Type" prop="type">
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Comments" prop="comment">
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Amount" prop="amount" [sortable]="false">
                </ngx-datatable-column> -->

            </ngx-datatable>
        </div>
    </div>
</section>

<!-- Delete Modal -->
<!-- <ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete the selected records?</p>
        <ul>
            <li *ngFor="let id of idsToDelete">{{ id }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
</ng-template> -->