<div class="modal-body">
    @if (approvalHistory && approvalHistory.length > 0) {
    <ngx-datatable class="bootstrap core-bootstrap" [rows]="approvalHistory" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="40" [rowHeight]="50" [limit]="5">
    
        <ngx-datatable-column name="Approver" prop="approverName"></ngx-datatable-column>
        <ngx-datatable-column name="Remarks" prop="remarks"></ngx-datatable-column>
        <ngx-datatable-column name="Approval Date" prop="createdDate">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.createdDate | date:'yyyy-MM-dd' }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    }

    @else {
    <div class="empty-state">
        <i class="fa fa-history empty-icon"></i>
        <h5 class="empty-message">No approval history found</h5>
        <p class="empty-submessage">Please check back later or contact the responsible team.</p>
    </div>
    }
</div>
