<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row">
        <div class="col-md-12" style=" margin-top: -0.25rem;">
          <h4 class="heading">
            <ng-container *ngIf="isSelectingFinalVendor">
              Select Final Vendor
            </ng-container>
              <ng-container *ngIf="!isSelectingFinalVendor && isInventoryTransferMode">
                Inventory Transfer
              </ng-container>
            <ng-container *ngIf="!isSelectingFinalVendor && !isInventoryTransferMode && viewMode === false">
              {{ isNewForm ? 'Create Purchase Request' : 'Update Purchase Request' }}
            </ng-container>
          </h4>
        </div>
      </div>

      <div class="card cstm-ui-card sticky-toolbar" [class.sticky]="isToolbarSticky">
        <div class="row align-items-center" *ngIf="!loading">
          <div class="col-md-6 col-6 cstm-action-bar">

            <button class="btn btn-lg mr-1" type="button" (click)="homePage()"><i class="ft-arrow-left"></i></button>
            <span class="vl"></span>
            <!-- Create Mode: Save + Save as Draft -->
            <ng-container *ngIf="isNewForm && !viewMode">
              <button class="btn btn-sm cstm-ui-table-btn" [disabled]="newPurchaseRequestForm.invalid"
                (click)="submitForm()">
                <i class="ft-plus"></i><label class="ml-1 mt-1 btn-label">Save</label>
              </button>
              <button class="btn btn-sm cstm-ui-table-btn" (click)="saveAsDraftAndGoBack()">
                <i class="ft-save"></i><label class="ml-1 mt-1 btn-label">Save as Draft</label>
              </button>
            </ng-container>

            <!-- Update Mode: Update -->
            <ng-container *ngIf="!viewMode">
              <button *ngIf="!isNewForm && !isSelectingFinalVendor" class="btn btn-sm cstm-ui-table-btn"
                [disabled]="newPurchaseRequestForm.invalid || (isStatusCompleted && !isSelectingFinalVendor) || !isSubmitter"
                (click)="submitForm()">
                <i class="ft-edit-2"></i><label class="ml-1 mt-1 btn-label">Update</label>
              </button>
            
              <button *ngIf="isSelectingFinalVendor" class="btn btn-sm cstm-ui-table-btn" (click)="createPO(selectedRow)">
                <i class="ft-plus"></i>
                <label class="ml-1 mt-1 btn-label">Create PO</label>
              </button>
            </ng-container>

            <ng-container *ngIf="viewMode && isSubmitter">
              <button class="btn btn-sm"
                [disabled]="newPurchaseRequestForm.invalid || isStatusCompleted || isStatusInProcess"
                (click)="onSubmitForApproval()">
                <i class="ft-edit-2"></i><label class="ml-1 mt-1 btn-label">Submit For Approval</label>
              </button>

            </ng-container>
            <ng-container *ngIf="viewMode && !isSubmitter">
              <button class="btn btn-sm cstm-ui-table-btn" [disabled]="isStatusCompleted"
                (click)="onAddRemarks('Approve')">
                <i class="ft-check"></i><label class="ml-1 mt-1 btn-label">Approve</label>
              </button>

              <button class="btn btn-sm cstm-ui-table-btn" [disabled]="isStatusCompleted"
                (click)="onAddRemarks('Reject')">
                <i class="ft-x"></i><label class="ml-1 mt-1 btn-label">Reject</label>
              </button>

              <button class="btn btn-sm cstm-ui-table-btn" [disabled]="isStatusCompleted"
                (click)="onAddRemarks('SendBack')">
                <i class="ft-arrow-left"></i><label class="ml-1 mt-1 btn-label">Send Back</label>
              </button>

              <!-- <button class="btn btn-sm" [disabled]="newRfqForm.invalid" (click)="onAddRemarks('Submit')">
                <i class="ft-check"></i><label class="ml-1 mt-1">Submit</label>
              </button> -->
            </ng-container>

          </div>
          <div class="col-md-6 col-6 text-right cstm-action-bar" style="margin-top: 0.3rem;">
            <button type="reset" class="btn btn-sm cstm-ui-table-btn mr-2">
              <i class="ft-printer"></i><label class="ml-1 mt-1 btn-label" for="">Print</label>
            </button>
          </div>
          <!-- View Mode: No buttons -->
        </div>
      </div>

      <div class="card sticky-toolbar-target">
        <div class="card-body">

          <form [formGroup]="newPurchaseRequestForm" (ngSubmit)="submitForm()">
            <div class="form-grid mb-2">

              <!-- Basic Fields -->
              <div class="form-grid__item mb-2">
                <label>Requisition No.</label>
                <input type="text" class="form-control custom-input" formControlName="requisitionNo" disabled>
              </div>

              <div class="form-grid__item">
                <div class="form-group mb-2">
                  <label class="d-flex align-items-center mr-2 w-100" [ngbTooltip]="entityHint">
                    <span class="mr-2">Entity</span>

                    <small *ngIf="isEntityLocked && entityHint" class="hint-ellipsis ml-auto text-muted">
                      <i class="ft-info mr-1"></i>
                      <span class="hint-text">
                        {{ entityHint }}
                      </span>
                    </small>
                  </label>
                  <select class="form-control custom-input filter-label" formControlName="entityId"
                    [disabled]="isEntityLocked || viewMode" (change)="loadAddressOnEntityChanges()">
                    <option [ngValue]="null">-- Select Entity --</option>
                    <option *ngFor="let e of entities" [ngValue]="e.id">
                      {{ e.description }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-grid__item mb-2">
                <label>Submitted Date</label>
                <input type="date" class="form-control custom-input" formControlName="submittedDate">
              </div>
              <div class="form-grid__item mb-2">
                <label>Delivery Location</label>
                <input type="text" class="form-control custom-input" formControlName="deliveryLocation"
                  placeholder="Enter Delivery Location">
              </div>
              <div class="form-grid__item mb-2">
                <label>Receiver Name</label>
                <input type="text" class="form-control custom-input" formControlName="receiverName"
                  placeholder="Enter Receiver Name">

              </div>
              <div class="form-grid__item mb-2">
                <label>Receiver Contact</label>
                <input type="text" class="form-control custom-input" formControlName="receiverContact"
                  placeholder="Enter Receiver Contact">
              </div>

              <div class="form-grid__item mb-2">
                <div class="form-group mb-2">
                  <label>Status</label>
                  <input type="text" formControlName="status" class="form-control" disabled />
                </div>
              </div>

              <!-- Department, Designation, Business Unit -->
              <div class="form-grid__item mb-2">
                <label>Department</label>
                <input type="text" class="form-control custom-input" formControlName="department"
                  placeholder="Enter Department">
              </div>
              <!-- <div class="form-grid__item mb-2">
                <label>Designation</label>
                <input type="text" class="form-control custom-input" formControlName="designation"
                  placeholder="Enter Designation">
              </div>
              <div class="form-grid__item mb-2">
                <label>Business Unit</label>
                <input type="text" class="form-control custom-input" formControlName="businessUnit"
                  placeholder="Enter Business Unit">
              </div> -->

              <!-- <div class="col-lg-4 mb-2">
                <label>Workflow</label>
                <select class="form-control" formControlName="workflowMasterId">
                  <option *ngFor="let data of workflowList" [value]="data.id">{{data?.workflow}}</option>
                </select>
              </div> -->

              <div class="form-grid__item d-flex align-items-end mb-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="partialDelivery"
                    formControlName="partialDeliveryAcceptable">
                  <label class="custom-control-label" for="partialDelivery">Partial Delivery Acceptable</label>
                </div>
              </div>

              <div class="form-grid__item d-flex align-items-end mb-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="exceptionPolicy"
                    formControlName="exceptionPolicy">
                  <label class="custom-control-label" for="exceptionPolicy">Exception Policy</label>
                </div>
              </div>
              <!-- Subject -->
              <div class="form-grid__item form-grid__item--full mb-2">
                <label>Subject</label>
                <textarea class="form-control custom-input" rows="1" formControlName="subject"
                  placeholder="Enter Subject"></textarea>
              </div>

            </div>
            <ngb-accordion #accordion="ngbAccordion" class="address-card" activeIds="receiving-panel" 
              (panelChange)="onPanelChange($event)"
            >
              <ngb-panel id="receiving-panel">
                <ng-template ngbPanelTitle>
                  <div class="row">
                    <div class="pl-0 col-md-12" (click)="isReceivingOpen = !isReceivingOpen">
                      <span class="panel-icon">
                        <label class="address-label">Receiving Address</label>
                        
                      </span>
                        <i class="ft" [ngClass]="isReceivingOpen ? 'ft-chevron-up' : 'ft-chevron-down'">
                        </i>
                       
                    </div>
                  </div>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="card-accordion">

                    <!-- Row 1 -->
                    <div class="form-grid w-100">
                      <div class="form-grid__item" >
                        <label>Address Code</label>
                        <select class="form-control" formControlName="addressId"
                          (change)="onAddressSelect($event.target.value)">
                          <option value="">Select Address</option>
                          <option *ngFor="let add of addresses" [value]="add.id">{{ add.addressCode }}</option>
                        </select>
                      </div>

                      <div class="form-grid__item">
                        <label>Country</label>
                        <input type="text" class="form-control custom-input" formControlName="country" disabled>
                      </div>

                      <div class="form-grid__item">
                        <label>City</label>
                        <input type="text" class="form-control custom-input" formControlName="city" disabled>
                      </div>

                      <div class="form-grid__item">
                        <label>Region</label>
                        <input type="text" class="form-control custom-input" formControlName="region" disabled>
                      </div>

                        <div class="form-grid__item">
                        <label>Post Code</label>
                        <input type="text" class="form-control custom-input" formControlName="postCode" disabled>
                      </div>

                      <div class="form-grid__item form-grid__item--address">
                        <label>Address 1</label>
                        <input type="text" class="form-control custom-input" formControlName="address" disabled>
                      </div>

                      <div class="form-grid__item form-grid__item--address">
                        <label>Address 2</label>
                        <input type="text" class="form-control custom-input" formControlName="address2" disabled>
                      </div>
                    </div>

                    <!-- Row 2 -->
               
                    

                      

                      <!-- Empty column to keep alignment -->
                      <div class=""></div>
                    </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

          </form>

          <ngb-accordion *ngIf="!viewMode" #accordion="ngbAccordion" activeIds="purchase-panel"
          (panelChange)="onPanelChange($event)">
            <ngb-panel id="purchase-panel">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="pl-0 col-md-6"   (click)="isPurchaseOpen = !isPurchaseOpen"> <span class="panel-icon">
                      <label>Purchase Items</label> <!-- Bootstrap icon example -->
                    </span>
                    <i class="ft" [ngClass]="isPurchaseOpen ? 'ft-chevron-up' : 'ft-chevron-down'">
                    </i>
                  
                  </div>
                    
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="card-accordion items-card">

               

                  <div class="form-row position-relative" [formGroup]="itemForm">

                    <!-- <button class="btn btn-primary position-absolute" style="top: 0; right: 0; z-index: 10;"
                      (click)="insertItem()" [disabled]="viewMode">
                      <i class="ft-pocket mr-1"></i>
                      Insert
                    </button> -->

                    <div class="col-12 d-flex justify-content-between align-items-center mb-1">
                      <div>
                          <h6>Item Type</h6>

                      </div>
                    
                      <div>
                        <input #fileInput type="file" accept=".xlsx,.xls,.csv" class="d-none" (change)="onFileSelected($event)" />
                        <button type="button" class="bulk-upload-btn btn" (click)="triggerFileUpload(fileInput)">
                          <i class="fa-solid fa-arrow-up-from-bracket mr-1"></i>
                          Bulk Upload
                        </button>
                      </div>
                    </div>

                    <div class="d-flex align-items-center pl-1">
                      <div class="mr-4">
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input " formControlName="itemType"
                            value="Inventory">Inventory
                        </label>
                      </div>
                    </div>

                    <div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" formControlName="itemType"
                            value="Non-Inventory">Non-Inventory
                        </label>
                      </div>
                    </div>
                    </div>

                    <div class="col-12">
                      <hr>
                    </div>
                    <div class="col-12">
                      <h6>Item Details</h6>
                    </div>

                      <div class="form-grid w-100 px-1">

                     
                    <!-- Item Code -->
                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Item</label>
                        <select class="form-control  custom-input" formControlName="itemId">
                          <option value="" disabled selected>Select Item</option>
                          <option *ngFor="let item of itemList" [value]="item.id">
                            {{ item.description }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- U of M -->
                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>U of M</label>
                        <select class="form-control custom-input" formControlName="unitOfMeasurementId">
                          <option value="" disabled selected>Select UOM</option>
                          <option *ngFor="let uom of unitsOfMeasurementList" [ngValue]="uom.id">
                            {{ uom.description }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Order Quantity</label>
                        <input type="number" placeholder="Enter Order Quantity" class="form-control custom-input"
                          formControlName="orderQuantity" />
                      </div>
                    </div>
                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Unit Cost</label>
                        <input type="number" placeholder="Enter Unit Cost" class="form-control custom-input"
                          formControlName="unitCost" />
                      </div>
                    </div>

                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Budget Amount</label>
                        <input type="number" readonly class="form-control custom-input" formControlName="amount" />
                      </div>
                    </div>
                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Req. by Date</label>
                        <input type="date" class="form-control custom-input" formControlName="reqByDate" />
                      </div>
                    </div>

                    <div class="form-grid__item form-grid__item--span">
                      <div class="form-group mb-2">
                        <label>Item Description</label>
                        <textarea rows="1" placeholder="Enter Item Description" class="form-control custom-input"
                          formControlName="itemDescription"></textarea>
                      </div>
                    </div>
                    </div>
                    <div class="col-12">
                      <hr>
                    </div>

                    <div class="col-12">
                      <h6>Other</h6>
                    </div>

                    <div class="form-grid w-100 px-1">

                    <div *ngIf="isSelectingFinalVendor" class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Final Vendor</label>
                        <select class="form-control custom-input" formControlName="vendorUserId"
                          (change)="onVendorChange($event.target.value)">
                          <option [ngValue]="null" disabled>Select Final Vendor</option>
                          <option *ngFor="let v of finalVendors" [value]="v.vendorId">
                            {{ v.vendorName }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div *ngIf="isSelectingFinalVendor" class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Vendor Company</label>
                        <select class="form-control custom-input" formControlName="vendorCompanyId"
                          [compareWith]="compareIds">
                          <option [ngValue]="null" disabled>Select Company</option>
                          <option *ngFor="let c of filteredCompanies" [ngValue]="c.companyId">
                            {{ c.companyName }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- Account -->
                    <div class="form-grid__item">
                      <div class="form-group mb-2">
                        <label>Account</label>
                        <select class="form-control custom-input" formControlName="accountId">
                          <option value="" disabled selected>Select Account</option>
                          <option *ngFor="let acc of accountList" [value]="acc.id">
                            {{ acc.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-grid__item form-grid__item--span">
                      <div class="form-group mb-2">
                        <label>Remarks</label>
                        <input rows="1" placeholder="Enter Remarks" class="form-control custom-input"
                          formControlName="remarks" />
                      </div>
                    </div>
                     </div>
                    </div>
                    

                     <div *ngIf="!isStatusCompleted" class="d-flex align-items-center justify-content-end my-1" style="gap:1em">
                    <!-- File Input -->
                         <button type="button" class="btn btn-sm" (click)="clearItemForm()">
                          <i class="fa fa-sync mr-1"></i>
                          Refresh
                        </button>
                
                   <button class="btn btn-primary" (click)="insertItem()" [disabled]="viewMode">
                      <i class="ft-arrow-right mr-1"></i>
                      {{ editingRowIndex !== null ? 'Update' : 'Insert' }}
                      </button>

                     
                <!-- Pretty Bulk Upload button -->
         

                    <!-- Insert Button -->
                    <!-- <button class="btn btn-primary" (click)="insertItem()" [disabled]="viewMode">
                      <i class="ft-pocket mr-1"></i>
                      Insert
                    </button> -->

                    <!-- Insert / Update Button -->


                  </div>
                </div>
              </ng-template>
            </ngb-panel>

          </ngb-accordion>

          <div class="col-12 p-0">
            <div style="position: relative;">
              <ngx-datatable autoResize class="bootstrap core-bootstrap" [rows]="newPurchaseItemData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [scrollbarH]="true" (activate)="selectRow($event.row)">

                <ngx-datatable-column name="Sr. No." [width]="50">
                  <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <span>{{rowIndex + 1}}</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Type" prop="itemType" [width]="70">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                 <span class="cell-ellipsis" container="body">
                  {{ row.itemType }}
                </span>
                  </ng-template>
                   
                </ngx-datatable-column>

                <ngx-datatable-column name="Item" [width]="180">
                       <ng-template let-row="row" ngx-datatable-cell-template>
                 <span class="cell-ellipsis" [ngbTooltip]="getItemNameById(row.itemId)" container="body">
                   {{ getItemNameById(row.itemId) }}
                </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Description" [width]="150" prop="itemDescription">
                     <ng-template let-row="row" ngx-datatable-cell-template>
                 <span class="cell-ellipsis" [ngbTooltip]="row.itemDescription" container="body">
                  {{ row.itemDescription }}
                </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Amount" prop="amount" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="cell-ellipsis" container="body">
                    {{ row.amount | number }}
                  </span>
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column *ngIf="isSelectingFinalVendor" name="Final Vendor" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ getVendorNameById(row.vendorUserId) }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Remarks" prop="remarks" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                 <span class="cell-ellipsis" container="body">
                  {{ row.remarks }}
                </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Attachments" [width]="120" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <!-- Edit button -->
                    <a matTooltip="Attachment" class="row-action-attachment" (click)="openNewEntityModal(rowIndex)"
                      [ngClass]="{'disabled': actionType === 'View'}">
                      <!-- <a matTooltip="Attachment" style="cursor: pointer; color: #d1d4d7;"
                      (click)="openNewEntityModal(rowIndex)" [ngClass]="{'disabled': actionType === 'View'}"> -->
                      <i style="font-size: 1.5rem;" class="ft-paperclip mr-1"></i>
                    </a>

                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column *ngIf="!viewMode && !isStatusCompleted" name="Actions" [width]="100">
                  <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <!-- Edit button -->
                    <a matTooltip="Edit Item" (click)="editRow(row, rowIndex)"
                      [ngClass]="viewMode ? 'disabled' : 'row-action-edit'">
                      <i style="font-size: 1.5rem;" class="ft-edit mr-1"></i>
                    </a>

                    <!-- Delete button -->
                    <a matTooltip="Delete Item" *ngIf="!isSelectingFinalVendor" disabled class="" (click)="deleteRow(rowIndex)"
                      [ngClass]="viewMode ? 'disabled' : 'row-action-delete'">
                      <i style="font-size: 1.5rem;" class="ft-trash trash-icon"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="dataLoaded; else loadingTemplate"> -->
    <!-- Your main content here, e.g. the form, dropdowns, etc. -->
  <!-- </div> -->

  <!-- <ng-template #loadingTemplate>
    <div class="loading-spinner">
      Loading...
    </div>
  </ng-template>
</section> -->