<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row">
        <div class="col-md-12" style="margin-top: -0.25rem;">
          <h4 class="heading">
            {{ mode === 'Edit' ? 'Edit Workflow Setup' : 'Create Workflow Setup' }}
          </h4>
        </div>
      </div>

      <!-- Action Pane -->
      <div class="card cstm-ui-card">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-lg cstm-ui-table-btn mr-1" type="button" (click)="homePage()"><i
                class="ft-arrow-left"></i></button>
            <span class="vl"></span>
            <button type="submit" class="btn btn-sm cstm-ui-table-btn" [disabled]="workflowsetupform.invalid"
              *ngIf="mode !== 'Edit'" (click)="submitForm()">
              <i class="ft-plus"></i><label class="ml-1 mt-1">Save</label>
            </button>
            <button [disabled]="mode !== 'Edit'" type="reset" class="btn btn-sm cstm-ui-table-btn"
              (click)="updateForm()">
              <i class="ft-edit"></i><label class="ml-1 mt-1">{{ mode === 'Edit' ? 'Update' : 'Edit' }}</label>
            </button>
            <button [disabled]="mode !== 'Edit'" type="reset" class="btn btn-sm cstm-ui-table-btn">
              <i class="ft-trash"></i><label class="ml-1 mt-1">Delete</label>
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form [formGroup]="workflowsetupform" (ngSubmit)="submitForm()">
            <div class="form-row">

              <!-- Basic Fields -->
              <div class="col-lg-4 mb-2">
                <label>Workflow Name</label>
                <input type="text" class="form-control custom-input" formControlName="workflowName"
                  placeholder="Workflow Name" required>
              </div>

              <div class="col-lg-4 mb-2">
                <label>Document Type</label>
                <select class="form-control custom-input" formControlName="documentType">
                  <option value="" disabled>Select Type</option>
                  <option *ngFor="let wf of workflowTypes" [value]="wf.id">{{ wf.typeName }}</option>
                </select>
              </div>

              <!-- Workflow Initiator(s) -->
              <div class="col-lg-4 mb-2">
                <div class="form-group mb-2">
                  <label>{{ isVendorOnboarding ? 'Select Entity' : 'Workflow Initiator(s)' }}</label>

                  <ng-select class="custom-style" [items]="isVendorOnboarding ? entitiesList : usersList"
                    [bindLabel]="isVendorOnboarding ? 'name' : 'userName'" bindValue="id"
                    [multiple]="!isVendorOnboarding" [closeOnSelect]="isVendorOnboarding" [searchable]="true"
                    placeholder="{{ isVendorOnboarding ? 'Select Entity' : 'Select Users' }}"
                    formControlName="usersList" (change)="isVendorOnboarding ? onEntitySelected($event?.id) : null">
                  </ng-select>

                </div>
              </div>

            </div>

            <div class="form-row">
              <!-- Switches -->
              <div class="col-lg-4 mb-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="status" formControlName="status">
                  <label class="custom-control-label" for="status">Status</label>
                </div>
              </div>
            </div>
          </form>

          <ngb-accordion #accordion="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel id="ngb-panel-0">
              <ng-template ngbPanelTitle>
                <div class="row">
                  <div class="col-md-6">
                    <span class="panel-icon">
                      <label class="text-white">Add Approver</label>
                    </span>
                  </div>
                </div>
              </ng-template>

              <ng-template ngbPanelContent>
                <div class="card-accordion">
                  <div class="form-row position-relative" [formGroup]="approverForm">

                    <button class="btn btn-primary position-absolute" style="top: 0; right: 0; z-index: 10;"
                      (click)="addApprover()">
                      <i class="ft-pocket mr-1"></i> Add
                    </button>

                    <div class="col-12 mt-4">
                      <hr>
                    </div>

                    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
                      <div class="form-group mb-2">
                        <label>Approver</label>
                        <select class="form-control custom-input" formControlName="approverList">
                          <option value="" disabled>Select Approver</option>
                          <option *ngFor="let approver of approverList" [value]="approver.id">{{ approver.userName }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- Amount From & To: hide for Vendor Company Onboarding -->
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <div class="form-group mb-2">
                        <label>Amount From</label>
                        <input type="number" placeholder="Enter Amount" class="form-control custom-input"
                          formControlName="amountFrom" [disabled]="hideConditionalFields" />
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="form-group mb-2">
                        <label>Amount To</label>
                        <input type="number" placeholder="Enter Amount" class="form-control custom-input"
                          formControlName="amountTo" [disabled]="hideConditionalFields" />
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="form-group mb-2">
                        <label>Approver Level</label>
                        <input type="number" placeholder="Enter Level" class="form-control custom-input"
                          formControlName="approverLevel" />
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-6">
                      <div class="form-group mb-2">
                        <label>Proxy Approver</label>
                        <select class="form-control custom-input" formControlName="proxyApproverId">
                          <option value="" disabled>Select Proxy Approver</option>
                          <option *ngFor="let approver of approverList" [value]="approver.id">{{ approver.userName }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="form-group mb-2">
                        <label>Grace Days</label>
                        <input type="number" placeholder="Enter Grace Days" class="form-control custom-input"
                          formControlName="graceDays" />
                      </div>
                    </div>

                    <!-- Switches -->
                    <div class="col-lg-12 mb-2 d-flex">

                      <div class="col-lg-2 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="canApprove"
                            formControlName="canApprove">
                          <label class="custom-control-label" for="canApprove">Approve</label>
                        </div>
                      </div>

                      <div class="col-lg-2 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="canReject"
                            formControlName="canReject">
                          <label class="custom-control-label" for="canReject">Can Reject</label>
                        </div>
                      </div>

                      <div class="col-lg-2 mb-3">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="canSendBack"
                            formControlName="canSendBack">
                          <label class="custom-control-label" for="canSendBack">Send Back</label>
                        </div>
                      </div>

                      <div class="col-lg-2 mb-3">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="canSubmit"
                            formControlName="canSubmit">
                          <label class="custom-control-label" for="canSubmit">Submit</label>
                        </div>
                      </div>

                      <div class="col-lg-2 mb-3">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="isApprovalCompulsory"
                            formControlName="isApprovalCompulsory">
                          <label class="custom-control-label" for="isApprovalCompulsory">Is Compulsory</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <hr>
                    </div>
                  </div>
                  <br>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div class="col-12">
            <div style="position: relative;">
              <ngx-datatable class="bootstrap core-bootstrap" [rows]="newApproverData" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [scrollbarH]="true">
                <ngx-datatable-column name="Sr. No." [width]="50">
                  <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>{{rowIndex + 1}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Approver" prop="approverName" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="Level" prop="approverLevel" [width]="70"></ngx-datatable-column>

                <!-- Hide Amount From/To in table for Vendor Company Onboarding -->
                <ngx-datatable-column name="Amount From" prop="amountFrom" [width]="70"
                  *ngIf="!hideConditionalFields"></ngx-datatable-column>
                <ngx-datatable-column name="Amount To" prop="amountTo" [width]="70"
                  *ngIf="!hideConditionalFields"></ngx-datatable-column>

                <ngx-datatable-column name="Proxy Approver" prop="proxyApproverName" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="Grace Days" prop="graceDays" [width]="70"></ngx-datatable-column>
                
                <ngx-datatable-column name="Approve" prop="canApprove" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="Reject" prop="canReject" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="Send Back" prop="canSendBack" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="Submit" prop="canSubmit" [width]="70"></ngx-datatable-column>
                <ngx-datatable-column name="IsCompulsory" prop="isApprovalCompulsory"
                  [width]="70"></ngx-datatable-column>

                <ngx-datatable-column name="Actions" [width]="70">
                  <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                    <a matTooltip="Edit Approver" style="cursor: pointer; color: #d1d4d7;"
                      (click)="editRow(row, rowIndex)" [ngClass]="{'disabled': actionType === 'View'}">
                      <i style="font-size: 1.5rem;" class="ft-edit mr-1"></i>
                    </a>
                    <a matTooltip="Delete Approver" style="cursor: pointer; color: #d1d4d7;"
                      (click)="deleteRow(rowIndex)" [ngClass]="{'disabled': actionType === 'View'}">
                      <i style="font-size: 1.5rem;" class="ft-trash trash-icon"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="dataLoaded; else loadingTemplate">
    <!-- Your main content here, e.g. the form, dropdowns, etc. -->
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-spinner">
      Loading...
    </div>
  </ng-template>

</section>