::ng-deep .ngx-datatable {
  .sortable .sort-btn:before {
    // font-family: data-table;
    // content: "c";
    display: none !important;
  }

  .sortable .sort-btn.datatable-icon-down:before {
    // content: "f";
    display: none !important;

  }

  .sortable .sort-btn.datatable-icon-up:before {
    // content: "e";
    display: none !important;
  }
}

.heading {
  color: #1E89B8;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-weight: 700;
}


.ngx-datatable ::ng-deep .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  vertical-align: baseline;

}