::ng-deep .ngx-datatable {
  .sortable .sort-btn:before {
    // font-family: data-table;
    // content: "c";
    display: none !important;
  }

  .sortable .sort-btn.datatable-icon-down:before {
    // content: "f";
    display: none !important;

  }

  .sortable .sort-btn.datatable-icon-up:before {
    // content: "e";
    display: none !important;
  }
}

.vl {
  border-left: 1.4px solid #cccccc;
  height: 100%;
  position: absolute;
  margin-left: -3px;
}

.heading {
  color: #1E89B8;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-weight: 700;
}


// .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
//   padding: 0.75rem;
//   vertical-align: middle;
//   border-top: 1px solid #1E89B8;
// }

.ngx-datatable ::ng-deep .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.75rem;
  vertical-align: baseline;

}

::ng-deep .ngx-datatable {
  .sortable .sort-btn:before {
    // font-family: data-table;
    // content: "c";
    display: none !important;
  }

  .sortable .sort-btn.datatable-icon-down:before {
    // content: "f";
    display: none !important;

  }

  .sortable .sort-btn.datatable-icon-up:before {
    // content: "e";
    display: none !important;
  }
}

// .vl {
//     border-left: 1.4px solid #cccccc;
//     height: 100%;
//     position: absolute;
//     margin-left: -3px;

//   }
.heading {
  color: #1E89B8;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  font-weight: 700;
}


.ngx-datatable ::ng-deep .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  vertical-align: baseline;

}

.counter {
  top: -10px;
  right: -16px;
}

.badge {
  display: inline-block;
  padding: 0.4rem 0.5rem !important;
  font-size: 85%;
  font-weight: 400 !important;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-height-modal .modal-body {
  height: 400px !important;
  /* or any height you want */
  overflow-y: auto !important;
  /* optional: to make it scroll if content overflows */
}


.status-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  border: 1px solid transparent;
  background: transparent;
  white-space: nowrap;
}

/* New (blue outline) */
.status-pill--new {
  color: #3B82F6;
  border-color: #3B82F6;
  background: rgba(59, 130, 246, 0.07);

}

/* In Progress (orange outline) */
.status-pill--inprogress {
  color: #DA8900;
  border-color: #DA8900;
  background: rgba(218, 137, 0, 0.07);

}

/* Completed (green outline) */
.status-pill--completed {
  color: #2EAF5E;
  border-color: #2EAF5E;
  background: rgba(46, 175, 94, 0.07);
}

/* Fallback */
.status-pill--default {
  color: #616d89;
  border-color: #cfd6e4;
  background: rgba(97, 109, 137, 0.08);
}

.status-pill--sendback {
  color: #aeac12;
  border-color: #fffc6f;
  background: rgb(255 255 226);
}


::ng-deep .action-popover {
  //padding: 0.5rem;
  border-radius: 8px;
  min-width: auto;
}

::ng-deep .action-popover .btn {
  //border-radius: 50%;
  margin: 4px 0px !important;
  width: 100%;
  height: 100%;
}

.popover-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.popover-icon {
  background: #efefef;
  padding: 0px 8px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
}

::ng-deep .action-popover .popover-body {
  padding: 0.4rem 0rem;
  color: #342E49;
}


// .dropdown {
//     position: absolute; /* Set the container to relative position */
//          overflow: visible !important;

// }

.dropdown-content {
  position: absolute;
  /* Set the dropdown to absolute position */
  // top: calc(100% + 10px); /* Position it below the container */
  left: 0;
  overflow: visible !important;
  // z-index: 9999; /* Set a high z-index */
  display: none;
  /* Hide the modal by default */
  background-color: #fff;
  /* Set background color */
  border: 1px solid #ccc;
  /* Add border */
  padding: 10px;
  /* Add padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Add shadow */
}