<section>
    <div class="row">
        <div class="col-12">

            <!-- Header -->
            <div class="row">
                <div class="col-md-12" style=" margin-top: -0.25rem;">
                    <!-- <h4>Announcements</h4> -->
                    <h4 class="heading">Vendor Companies</h4>
                </div>
                <!-- <div class="col-md-6">
                </div> -->


            </div>

            <!-- Action Pane -->
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-lg mr-1" type="button" (click)="homePage()">
                            <i class="ft-arrow-left"></i>
                        </button>
                        <span class="vl"></span>

                        <!-- Create -->
                        <!-- <button type="reset" ngbTooltip="Create new company" class="btn btn-sm" (click)="openEmpDetails()">
        <i class="ft-plus"></i><label class="ml-1 mt-1">Create</label>
    </button> -->

                        <!-- Update -->
                        <button type="button" class="btn btn-sm" [disabled]="isEditButtonDisabled"
                            (click)="editSelectedRow()">
                            <i class="ft-edit"></i><label class="ml-1 mt-1">Company Review</label>
                        </button>

                        <button type="button" class="btn btn-sm" (click)="showAll()">
                            <i class="ft-edit"></i>
                            <label class="ml-1 mt-1">All</label>
                        </button>

                        <button type="button" class="btn btn-sm" (click)="showInProcess()">
                            <i class="ft-edit"></i>
                            <label class="ml-1 mt-1">InProcess</label>
                        </button>

                        <button type="button" class="btn btn-sm" (click)="showRecall()">
                            <i class="ft-edit"></i>
                            <label class="ml-1 mt-1">Recall</label>
                        </button>


                        <!-- Delete -->
                        <!-- <button type="button" class="btn btn-sm" [disabled]="isDeleteButtonDisabled" (click)="deleteSelectedRows()">
        <i class="ft-trash"></i><label class="ml-1 mt-1">Delete</label>
    </button> -->

                        <!-- Approval -->
                        <!-- <button type="button" class="btn btn-sm" [disabled]="isOpenButtonDisabled" (click)="approveSelectedRows()">
        <i class="ft-check"></i><label class="ml-1 mt-1">Approval</label>
    </button> -->
                    </div>



                </div>

            </div>
            <!-- Content -->
            <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [columns]="columns" rowHeight="50" [limit]="15"
                [scrollbarH]="true" [loadingIndicator]="loading" [selected]="chkBoxSelected" [swapColumns]="false"
                [selectionType]="SelectionType.checkbox" (sort)="onSort($event)"
                (select)="customChkboxOnSelect($event)">

                <!-- Checkbox Column -->
                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                    <ng-template ngx-datatable-header-template>
                        <div class="custom-control">
                            <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
                        </div>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                        let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <!-- Sr No -->
                <ngx-datatable-column name="Sr. No." [width]="50" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>{{ rowIndex + 1 }}</span>
                    </ng-template>
                </ngx-datatable-column>


                <!-- ✅ New Columns -->
                <ngx-datatable-column name="Name" prop="name" [width]="120"></ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="companyStatus" [width]="100"></ngx-datatable-column>
                <!-- <ngx-datatable-column name="Street" prop="street" [width]="150"></ngx-datatable-column> -->
                <ngx-datatable-column name="City" prop="city" [width]="120"></ngx-datatable-column>
                <!-- <ngx-datatable-column name="Contact Number" prop="contactNumber" [width]="150"></ngx-datatable-column> -->
                <ngx-datatable-column name="Vendor Type" prop="vendorType" [width]="120"></ngx-datatable-column>
                <ngx-datatable-column name="Currency" prop="primaryCurrency" [width]="100"></ngx-datatable-column>


                <!-- Edit Action Column -->
                <!-- <ngx-datatable-column name="Edit" [width]="80" [sortable]="false">
  <ng-template ngx-datatable-cell-template let-row="row">
    <button class="btn btn-sm btn-primary" (click)="editRow(row)">
      <i class="ft-edit"></i>
    </button>
  </ng-template>
</ngx-datatable-column> -->



            </ngx-datatable>

        </div>
    </div>
</section>