<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row">
        <div class="col-md-12" style="margin-top: -0.25rem;">
          <h4 class="heading">Vendor Companies</h4>
        </div>
      </div>

      <!-- Action Pane -->
      <div class="card cstm-ui-card">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="position-relative">

              <button class="btn btn-lg mr-1 " type="button" (click)="homePage()">
                <i class="ft-arrow-left"></i></button>
              <span class="vl"></span>

              <!-- Company Review Button -->
              <button type="button" class="btn btn-sm cstm-ui-table-btn ml-2"  [disabled]="isEditButtonDisabled || isSelectedRowNew()"
                (click)="editSelectedRow()">
                <i class="ft-edit"></i>
                <label class="ml-1 mt-1">Company Review</label>
              </button>

            </div>
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-sm cstm-ui-table-btn mr-2" (click)="toggleFilterBar()">
                <i class="ft-sliders"></i><label class="ml-1 mt-1">Filter</label>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showFilterBar" class="filter-bar">
        <div class="d-flex align-items-center justify-content-between pl-3 pr-1 py-2 filter-wrapper">
          <div class="filter-search">
            <i class="ft-filter search-icon"></i>

            <input style="padding-left: 3.4em;" type="text" class="form-control border-left-0 cstm-ui-input"
              placeholder="Search by Entity or Company..." [(ngModel)]="searchTerm"
              (ngModelChange)="applySearchFilter()" />

          </div>

          <div class="d-flex filter-btns-div">
            <div class="dropdown filter-dropdown" ngbDropdown [ngbTooltip]="statusTouched ? 'Status' : null">
              <button class="btn btn-sm filter-btn dropdown-toggle" ngbDropdownToggle>
                <span class="filter-label">{{ !statusTouched ? "Status" : selectedStatusLabel }} </span>
                <i class="ft-chevron-down"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="filterByStatus('All')">All</button>
                <button class="dropdown-item" (click)="filterByStatus('InProcess')">InProcess</button>
                <button class="dropdown-item" (click)="filterByStatus('Recall')">Recall</button>
                <button class="dropdown-item" (click)="filterByStatus('new')">new</button>
                <button class="dropdown-item" (click)="filterByStatus('completed')">completed</button>
              </div>
            </div>

            <button class="btn px-1 btn-sm" (click)="showFilterBar = false">✕</button>
          </div>
        </div>
      </div>

      <!-- Table Content -->
      <ngx-datatable autoResize class="bootstrap core-bootstrap" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [columns]="columns" [rowHeight]="'auto'" [limit]="15"
        [scrollbarH]="true" [loadingIndicator]="loading" [selected]="chkBoxSelected" [swapColumns]="false"
        [selectionType]="SelectionType.checkbox" (sort)="onSort($event)" (select)="customChkboxOnSelect($event)">

        <!-- Checkbox Column -->
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false">
          <ng-template ngx-datatable-header-template>
            <div class="custom-control cstm-checkbox-form">
              <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="custom-control custom-checkbox cstm-checkbox-form">
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- Sr No Column -->
        <ngx-datatable-column name="Sr. No." [width]="50" [resizeable]="false">
          <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>{{ rowIndex + 1 }}</span>
          </ng-template>
        </ngx-datatable-column>


        <!-- Company Name Column -->
        <ngx-datatable-column name="Company" prop="name" [width]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.name }}</span>
          </ng-template>
        </ngx-datatable-column>

        <!-- Entity Column -->
        <ngx-datatable-column name="Entity" prop="entity" [width]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.entity }}</span>
          </ng-template>
        </ngx-datatable-column>
        <!-- Conditionally Display Status Column -->
        <ngx-datatable-column *ngIf="showStatusColumn" name="Status" prop="companyStatus" [width]="100">
        </ngx-datatable-column>

        <!-- City -->
        <!-- <ngx-datatable-column name="City" prop="city" [width]="120"></ngx-datatable-column> -->

        <!-- Vendor Type -->
        <!-- <ngx-datatable-column name="Vendor Type" prop="vendorType" [width]="120"></ngx-datatable-column> -->

        <!-- Currency -->
        <!-- <ngx-datatable-column name="Currency" prop="primaryCurrency" [width]="100"></ngx-datatable-column> -->

        <!-- Action Column -->
        <ngx-datatable-column name="Action" [width]="100" prop="action" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-sm btn-primary" [ngbPopover]="actionToolbar"
              popoverClass="action-popover" placement="bottom" container="body">
              <i class="ft-settings"></i>
            </button>

            <!-- Popover Template -->
            <ng-template #actionToolbar>
              <div class="d-flex justify-content-around flex-column">
                <!-- <button class="btn popover-btn btn-sm m-1" ngbTooltip="Approval History"
                  (click)="openApprovalHistoryModal(row)">
                  <span class="popover-icon"><i class="ft-list"></i></span>
                  Approval History
                </button>
                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Approval History"
                  (click)="AssigenedHistory(row)">
                  <span class="popover-icon"><i class="ft-list"></i></span>
                  Setup History
                </button> -->
                <button class="btn popover-btn btn-sm m-1" ngbTooltip="Assign to me " (click)="openAssignMeModal(row)">
                  <span class="popover-icon"><i class="ft-user-plus"></i></span>
                  Assign to me
                </button>
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </div>
</section>