form label, .form-group label {
    font-size: 0.85rem;
    margin-bottom: 8px;
    color: #262626 !important;
    font-weight: 400;
  }
  .example-action-buttons {
    display: flex;
    justify-content: flex-end; /* Move buttons to the right */
  }
