// List Groups

@mixin list-group-item-custom-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color !important;
    background-color: $background !important;

    &.list-group-item-action {
      &:hover,
      &:focus {
        color: $color !important;
        // Use box-shadow overlay to create darkening effect without needing to process the color
        background-color: $background !important;
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.05) !important;
      }
    }
  }
}
