<section>
  <div class="row">
    <div class="col-12">

      <!-- Header -->
      <div class="row mb-2">
        <div class="col-md-12">
          <h4 class="heading">Company Review</h4>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="card mb-3">
        <div class="row p-2">
          <div class="col-md-6">
            <button class="btn btn-lg mr-1" type="button" (click)="goBack()">
              <i class="ft-arrow-left"></i>
            </button>
            <span class="vl"></span>

            <!-- <button class="btn btn-sm" [disabled]="!companyId" (click)="openRemarkModal(2, remarkModal)">
              <i class="fa fa-circle-check"></i> Approve
            </button>

            <button class="btn btn-sm" [disabled]="!companyId" (click)="openRemarkModal(4, remarkModal)">
              <i class="fa fa-rotate-left"></i> Recall
            </button> -->

            <!-- <button class="btn btn-sm cstm-ui-table-btn" [disabled]="!companyId"
                (click)="onActions('Approve')">
                <i class="ft-check"></i><label class="ml-1 mt-1">Approve</label>
              </button> -->


            <!-- If isAssigned = true → show Submit for Approval -->
            <button *ngIf="isAssigned" class="btn btn-sm cstm-ui-table-btn" [disabled]="!companyId"
              (click)="onActions('sendforapproval')">
              <i class="ft-check"></i>
              <label class="ml-1 mt-1">Submit for Approval</label>
            </button>

            <!-- If isAssigned = false → normal behavior -->
            <button *ngIf="!isAssigned" class="btn btn-sm cstm-ui-table-btn" [disabled]="!companyId"
              (click)="onActions('Approve')">
              <i class="ft-check"></i>
              <label class="ml-1 mt-1">Approve</label>
            </button>


            <button class="btn btn-sm cstm-ui-table-btn" [disabled]="!companyId" (click)="onActions('Reject')">
              <i class="ft-x"></i><label class="ml-1 mt-1">Reject</label>
            </button>

            <button class="btn btn-sm cstm-ui-table-btn" [disabled]="!companyId" (click)="onActions('SendBack')">
              <i class="ft-arrow-left"></i><label class="ml-1 mt-1">Send Back</label>
            </button>

          </div>
        </div>
      </div>

      <!-- Company Info -->
      <div class="card">
        <div class="card-body">
          <!-- <div *ngIf="isLoading" class="alert alert-info">Loading company data...</div>
          <div *ngIf="error" class="alert alert-danger">{{ error }}</div> -->

          <div class="accordion-section">
            <ngb-accordion #accordion="ngbAccordion" [activeIds]="'tab-1,tab-2,tab-3,tab-4,tab-5,tab-6'"
              [closeOthers]="false">
              <!-- General Information -->
              <ngb-panel id="tab-1" title="General Information">
                <ng-template ngbPanelContent>
                  <div class="row">
                    <div class="col-md-12">

                      <p style="font-size: 18px;">
                        <span style="font-weight:bold ;margin-right:4px;"> Company Name:</span>
                        <span style="font-size: 16px;">{{ companyName }}</span>
                      </p>

                      <!-- <label style="font-weight: 700;">Company Name</label> : {{companyName}}
                      <input type="text" class="form-control" [(ngModel)]="companyName" [disabled]="true"> -->
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Addresses -->
              <ngb-panel id="tab-2" title="Addresses">
                <ng-template ngbPanelContent>
                  <ngx-datatable [columnMode]="'force'" *ngIf="addressList && addressList.length > 0" class="bootstrap"
                    [rows]="addressList" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column [sortable]="false" name="Street" prop="street"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="City" prop="city"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="State" prop="state"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Zip" prop="zip"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Country" prop="country"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Primary">

                      <ng-template let-row="row" ngx-datatable-cell-template>

                        <i style="font-size: 20px;" class="fa"
                          [ngClass]="{ 'fa-circle-check': row.isPrimary === true,'fa-circle-xmark': row.isPrimary === false}"></i>

                      </ng-template>

                    </ngx-datatable-column>

                  </ngx-datatable>
                </ng-template>
              </ngb-panel>

              <!-- Company Contact Details -->

              <ngb-panel id="tab-3" title="Company Contact Details">
                <ng-template ngbPanelContent>
                  <ngx-datatable [columnMode]="'force'" *ngIf="addressList && contactList.length > 0" class="bootstrap"
                    [rows]="contactList" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column [sortable]="false" name="Description"
                      prop="description"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Type" prop="type"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Contact Number"
                      prop="contactNumber"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Extension" prop="extension"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Primary">
                      <ng-template let-row="row" ngx-datatable-cell-template>

                        <i style="font-size: 20px;" class="fa"
                          [ngClass]="{ 'fa-circle-check': row.isPrimary === true,'fa-circle-xmark': row.isPrimary === false}"></i>

                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                </ng-template>
              </ngb-panel>

              <!-- Purchasing Demographics -->
              <ngb-panel id="tab-4" title="Purchasing Demographics">
                <ng-template ngbPanelContent>
                  <ngx-datatable [columnMode]="'force'"
                    *ngIf="purchasingDemographicsList && purchasingDemographicsList.length > 0" class="bootstrap"
                    [rows]="purchasingDemographicsList" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                    [limit]="5">

                    <ngx-datatable-column [sortable]="false" name="Vendor Type"
                      prop="vendorType"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Primary Currency"
                      prop="primaryCurrency"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Line of Business"
                      prop="lineOfBusiness"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Employee Responsible"
                      prop="employeeResponsible"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Note" prop="note"></ngx-datatable-column>

                  </ngx-datatable>

                </ng-template>
              </ngb-panel>

              <!-- Bank Details -->
              <ngb-panel id="tab-5" title="Bank Details">
                <ng-template ngbPanelContent>
                  <ngx-datatable *ngIf="bankDetailsList && bankDetailsList.length > 0" class="bootstrap"
                    [rows]="bankDetailsList" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
                    [columnMode]="'force'" [sortable]="false">
                    <ngx-datatable-column [sortable]="false" name="Bank Name" prop="bankName"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Branch Name"
                      prop="branchName"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Branch Address"
                      prop="branchAddress"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Account Holder"
                      prop="accountHolderName"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Account Number"
                      prop="accountNumber"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="IBAN" prop="iban"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="SWIFT/BIC"
                      prop="swifT_BIC_Code"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Country" prop="country"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Currency" prop="currency"></ngx-datatable-column>
                  </ngx-datatable>

                </ng-template>
              </ngb-panel>

              <!-- Attachments -->

              <ngb-panel id="tab-6" title="Attachments">
                <ng-template ngbPanelContent>
                  <ngx-datatable *ngIf="attachedFiles && attachedFiles.length > 0" class="bootstrap"
                    [rows]="attachedFiles" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
                    [columnMode]="'force'">
                    <ngx-datatable-column [sortable]="false" name="File Name" prop="fileName"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Format" prop="format"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Attached By"
                      prop="attachedBy"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Remarks" prop="remarks"></ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Attached At" prop="attachedAt">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value | date:'medium' }}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [sortable]="false" name="Action">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <i (click)="downloadAttachment(row)" class="fa fa-circle-down"
                          style="font-size: 20px;cursor:pointer"></i>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                  <div *ngIf="attachedFiles.length === 0" class="text-muted p-2">
                    No attachments found.
                  </div>
                </ng-template>
              </ngb-panel>


            </ngb-accordion>

          </div>

        </div>

        <!-- Remark Modal -->
        <ng-template #remarkModal let-modal>
          <div class="modal-header">
            <h5 class="modal-title" style="color: white;">{{ actionType === 2 ? 'Approve' : 'Recall' }} Company</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" [(ngModel)]="remark" placeholder="Enter remark..." rows="3"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="submitRemark()">Submit</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>